{{#if usercv}}
{{else cvuser}}
{{else}}
<div id="toTop" class="navbar">
    <div class="navbar-left">
        <div class="header-text">
            <a href="/"><span>ViggaWorks</span></a>
            <a class="litle-text" href="/"><p >empower growth</p></a>
        </div>
        <a class="navbar-left-img" href="/"><img src="/img/LOGOVGA.png" alt=""></a>
    </div>
    {{#ifeq user 'admin'}}
    <div class="navbar-center">
        <a href="/"><span>Home</span></a>
        <a href="">Jobs</a>
        <ul class="drop-down__company">
            <span>Company</span>
            <ul class="down__company">
                <li><a href="/company/listcompany">List Company</a></li>
                <li><a href="/company/postjob">Post Job</a></li>
            </ul>
        </ul>
        <ul class="drop-down__tools">
            <span>Tools</span>
            <ul class="down__tools">
                <li><a href="/cv">NiceCV</a></li>
                <li><a href="">Payroll</a></li>
            </ul>
        </ul>
    </div>
    {{else ifeq user 'company'}}
    <div class="navbar-center">
        <a href="/"><span>Home</span></a>
        <a href="">Jobs</a>
        <ul class="drop-down__company">
            <span>Company</span>
            <ul class="down__company">
                <li><a href="/company/postjob">Post Job</a></li>
            </ul>
        </ul>
        <ul class="drop-down__tools">
            <span>Tools</span>
            <ul class="down__tools">
                <li><a href="/cv">NiceCV</a></li>
                <li><a href="">Payroll</a></li>
            </ul>
        </ul>
    </div>
    {{else}}
    <div class="navbar-center">
        <a href="/"><span>Home</span></a>
        <a href="">Jobs</a>
        <ul class="drop-down__company">
            <span>Company</span>
            <ul class="down__company">
                <li><a href="/company/listcompany">List Company</a></li>
            </ul>
        </ul>
        <ul class="drop-down__tools">
            <span>Tools</span>
            <ul class="down__tools">
                <li><a href="/cv">NiceCV</a></li>
                <li><a href="">Payroll</a></li>
            </ul>
        </ul>
    </div>
    {{/ifeq}}
    <div class="navbar-right">
        <ul class="drop-down__contact">
            <a class="contact" href=""><i class="bi bi-chat-dots"></i> Contact Us</a>
            <ul class="down__contact">
                <li>Need Assistance?</li>
                <li>070277****</li>
                <li>Mon-Sun 9am-9pm</li>
                <li><a class="send-mail" href="#feedback">Send Mail For Us</a></li>
            </ul>
        </ul>
        <img src="/img/LOGOVN.png" alt="">
        {{#if user}}
        <ul class="drop-down__user">
            {{#ifeq user 'user'}}
            <img src="{{getAvatar user}}" alt="">
            {{else ifeq user 'company'}}
            <img src="{{getAvatarcompany user}}" alt="">
            {{/ifeq}}
            <ul class="down__user">
                <li><a href="/profile">Your Profile </a></li>
                <li><a onclick="logout()" href="/login">Sign Out</a></li>
            </ul>
        </ul>
        {{else}}
        <a class="navbar-right__login" href="/login">Sign In</a>
        {{/if}}
    </div>
</div>
{{/if}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
      function logout() {
    document.cookie = 'token =; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = "/login"
  }
</script>