<div class="main-company-detail">
    <header class="company-detail">
        <img src="{{getBackground company}}" alt="" class="background-company-detail" onerror="this.src='/img/notfoundavatar.jpeg'">
        <div class="main__header-company-detail">
            <div class="header__primary-company-detail">
                <div class="logo-company-detail">
                    <img src="{{getAvatarcompany company}}" alt="" onerror="this.src='/img/notfoundavatar.jpeg'">
                    <span class="sumary-jobs">
                          <b>
                            {{getCompanyname company}} {{getTOB company}}
                          </b>
                          <a class="sumary-jobs" href="/company/job/{{getIDcompany company}}">({{getCompanyname company}} company's jobs)</a>
                    </span>
                </div>
                <form class="follow-company-detail" method="post" action="/company/{{company._id}}/follow">
                    <button id="followButton" type="submit">{{checkfl.follow}} ({{company.follow}})</button>
                </form>
            </div>
            <div class="header__info-company-detail">
                <span class="about-us">About Us</span>
            </div>
        </div>
    </header>
        <div class="body-about-us">
            <div class="company-desc">
                <span class="desc__first-text">About {{getCompanyname company}}</span>
                <div class="contact-company company-desc">
                    <span class="desc__second-text"><b>Address</b>: {{getCompanyaddress company}}</span>
                    <span class="desc__second-text"><b>Size:</b> {{getNoofemployee company}}</span>
                    <span class="desc__second-text"><b>Email:</b> {{getCompanyemail company}}</span>
                    <span class="desc__second-text"><b>HotLine:</b> {{getCompanyphone company}}</span>
                </div>
                <span class="desc__second-text"><b>Description: </b>{{getCompanydesc company}}</span>
            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our Service</span>
                <span class="desc__second-text">{{getService company}}</span>
            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our Mission</span>
                <span class="desc__second-text">{{getMission company}}</span>
            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our History</span>
                <span class="desc__second-text">{{getHistory company}}</span>
            </div>
            {{#if leadership}}
            <div class="company-leadership">
                <div class="company-leadership__text">
                    <span class="leadership__first-text">Our Leadership</span>
                    <span class="leadership__second-text">The {{getCompanyname company}} company was founded on {{getEstablisheddate company}}, and has {{getCompanyyears company}} years of experience in the industry. A summary of our company's Leadership</span>
                </div>
                <div class="company-leadership__info-total">
                  <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {{#each leadership}}
                        <div class="swiper-slide">
                        <div class="company-leadership__info">
                          <div class="total-leadership" style="background:linear-gradient(-180deg, transparent, rgba(0, 149, 255,0.5)), url('{{getAvatarleadership this}}') center/cover no-repeat; ;" ></div>
                          <div class="company-leadership__info-text">
                              <span class="first">{{this.name}}</span>
                              <span class="second">{{this.position}}</span>
                          </div>
                        </div>

                        </div>
                        {{/each}}
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
              </div>
            </div>
            {{else}}
            <div class="company-desc">
                <span class="desc__first-text">Our Leadership</span>
                <span class="desc__second-text">There is no information about the Leadership, you can contact the company to learn more</span>
            </div>
            {{/if}}
        </div>
</div>
<div class="overplay"></div>
{{#each leadership}}
<div class="show__main-info-leadership">
  <img src="{{getAvatarleadership this}}" alt=""  onerror="this.src='/img/notfoundavatar.jpeg'">
  <div class="introduce-leadership">
    <span class="first">{{this.name}}</span>
    <span class="second">{{this.position}}</span>
    <p>{{this.introduce}}</p>
  </div>
  <i class="bi bi-x-lg"></i>
</div>
{{/each}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".company-leadership__info-total .mySwiper", {
      pagination: {
        el: ".company-leadership__info-total .mySwiper .swiper-pagination",
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + (index + 1) + "</span>";
        },
      },
    });
document.addEventListener('DOMContentLoaded', () => {
  const overplay = document.querySelector('.overplay');
  const body = document.querySelector('body');
  const leadershipSlides = document.querySelectorAll('.swiper-slide .company-leadership__info');
  const leadershipInfos = document.querySelectorAll('.show__main-info-leadership');
  const closeButtons = document.querySelectorAll('.show__main-info-leadership .bi-x-lg');

  leadershipSlides.forEach((slide, index) => {
    slide.addEventListener('click', (event) => {
      event.stopPropagation();
      leadershipInfos[index].style.display = 'flex';
      body.classList.add('modal-open');
      overplay.style.display = 'block';
    });
  });
  closeButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      leadershipInfos[index].style.display = 'none';
      body.classList.remove('modal-open');
      overplay.style.display = 'none';
    });
  });
  overplay.addEventListener('click', () => {
    leadershipInfos.forEach((info) => {
      info.style.display = 'none';
    });
    body.classList.remove('modal-open');
    overplay.style.display = 'none';
  });
});

var followButton = document.getElementById("followButton");
if(followButton.textContent === "Following"){
    followButton.classList.add('following')
}
else{
    followButton.classList.remove('following')
}
followButton.addEventListener("mouseover", function() {
  if (followButton.textContent.trim() === "Follow") {
    followButton.textContent = "Following";
  }
  else if (followButton.textContent.trim() === "Following") {
    followButton.textContent = "Unfollowing";
  }
});
followButton.addEventListener("mouseout", function() {
  if (followButton.textContent.trim() === "Following") {
    followButton.textContent = "Follow";
  }
  else if (followButton.textContent.trim() === "Unfollowing") {
    followButton.textContent = "Following";
  }
});
</script>
{{!-- const carousel = document.querySelector('.carousel');
   firstItem = carousel.querySelectorAll('.company-leadership__info')[0];
   arrowButtons = document.querySelectorAll('.company-leadership__info-total button')
   let isDragStart = false , prevPageX, prevScrollLeft;
   let firstItemWidth = firstItem.clientWidth - 20;
   console.log(firstItemWidth)
   let scrollWidth = carousel.scrollWidth - carousel.clientWidth ;
   console.log(carousel.scrollWidth + 'scrollwidth') 
   console.log(scrollWidth)
   const showHideButtons = () =>{
    arrowButtons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
    arrowButtons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
    console.log(carousel.scrollLeft)
   }
   arrowButtons.forEach(button => {
    button.addEventListener('click',()=>{
        carousel.scrollLeft += button.id == "left" ? -firstItemWidth : firstItemWidth;
       setTimeout(()=>  showHideButtons(), 60);
    })
   })
   const draggStart = (e)=> {
    isDragStart = true;
    prevPageX = e.pageX;
    prevScrollLeft = carousel.scrollLeft;
   }
   const dragging = (e)=>{
    if(!isDragStart) return;
    e.preventDefault();
    let positionDiff = e.pageX - prevPageX;
    carousel.scrollLeft = prevScrollLeft - positionDiff;
    showHideButtons()
   }
   const draggStop = ()=>{
    isDragStart = false;
   }
   carousel.addEventListener('mousedown', draggStart);
   carousel.addEventListener('mousemove', dragging);
   carousel.addEventListener('mouseup', draggStop); --}}