<div class="main-company-detail">
    <header class="company-detail">
        <img src="{{getBackground company}}" alt="" class="background-company-detail" onerror="this.src='/img/notfoundavatar.jpeg'">
        <div class="main__header-company-detail">
            <div class="header__primary-company-detail">
                <div class="logo-company-detail">
                    <img src="{{getAvatarcompany company}}" alt="" onerror="this.src='/img/notfoundavatar.jpeg'">
                    <span>{{getCompanyname company}} {{getTOB company}}</span>
                </div>
                <form class="follow-company-detail" method="post" action="/company/{{company._id}}/follow">
                    <button id="followButton" type="submit">{{checkFl checkfl}}</button>
                </form>
            </div>
            <div class="header__info-company-detail">
                <span class="about-us">About Us</span>
                <span class="opening-jobs">Opening Jobs</span>
            </div>
        </div>
    </header>
        <div class="body-about-us">
            <div class="company-desc">
                <span class="desc__first-text">About {{getCompanyname company}} Company</span>
                <div class="contact-company company-desc">
                    <span class="desc__second-text"><b>Address</b>: {{getCompanyaddress company}}</span>
                    <span class="desc__second-text"><b>Size:</b> {{getNoofemployee company}} staff</span>
                    <span class="desc__second-text"><b>Email:</b> {{getCompanyemail company}}</span>
                    <span class="desc__second-text"><b>HotLine:</b> {{getCompanyphone company}}</span>
                </div>
                <span class="desc__second-text">{{getCompanydesc company}}</span>

            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our Service</span>
                <span class="desc__second-text">{{getService company}}</span>
            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our Mission</span>
                <span class="desc__second-text">{{getMission company}}</span>
            </div>
            <div class="company-desc">
                <span class="desc__first-text">Our History</span>
                <span class="desc__second-text">{{getHistory company}}</span>
            </div>
            {{#if leadership}}
            <div class="company-leadership">
                <div class="company-leadership__text">
                    <span class="leadership__first-text">Our Leadership</span>
                    <span class="leadership__second-text">The {{getCompanyname company}} company was founded on {{getEstablisheddate company}}, and has {{getCompanyyears company}} years of experience in the industry. A summary of our company's Leadership</span>
                </div>
                <div class="company-leadership__info-total">
                    <button id="left"><i class="bi bi-caret-left"></i></button>
                    <button id="right"><i class="bi bi-caret-right"></i></button>
                    <div class="carousel">
                    {{#each leadership}}
                    <div class="company-leadership__info">
                    <div class="total-leadership" style="background:linear-gradient(-180deg, transparent, rgba(254, 219, 0,0.3)), url('{{getAvatarleadership this}}') center/cover no-repeat; ;" ></div>
                    <div class="company-leadership__info-text">
                        <span class="first">{{this.name}}</span>
                        <span class="second">{{this.position}}</span>
                    </div>
                    </div>
                    
                    <div class="show__main-info-leadership">
                    <img src="{{getAvatarleadership this}}" alt=""  onerror="this.src='/img/notfoundavatar.jpeg'">
                    <div class="introduce-leadership">
                        <span class="first">{{this.name}}</span>
                        <span class="second">{{this.position}}</span>
                        <p>{{this.introduce}}</p>
                    </div>
                    <i class="bi bi-x-lg"></i>
                    </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="company-desc">
                <span class="desc__first-text">Our Leadership</span>
                <span class="desc__second-text">There is no information about the Leadership, you can contact the company to learn more</span>
            </div>
            {{/if}}
        </div>
</div>
<div class="overplay"></div>
<script>
   const carousel = document.querySelector('.carousel');
   firstItem = carousel.querySelectorAll('.company-leadership__info')[0];
   arrowButtons = document.querySelectorAll('.company-leadership__info-total button')
   let isDragStart = false , prevPageX, prevScrollLeft;
   let firstItemWidth = firstItem.clientWidth + 28;
   let scrollWidth = carousel.scrollWidth - carousel.clientWidth;
   const showHideButtons = () =>{
    arrowButtons[0].style.display = carousel.scrollLeft == 0 ? "none" : "block";
    arrowButtons[1].style.display = carousel.scrollLeft == scrollWidth ? "none" : "block";
   }
   arrowButtons.forEach(button => {
    button.addEventListener('click',()=>{
        carousel.scrollLeft += button.id == "left" ? -firstItemWidth : firstItemWidth;
       setTimeout(()=>  showHideButtons(), 60);
    })
   })
   const draggStart = (e)=> {
    isDragStart = true;
    prevPageX = e.pageX;
    prevScrollLeft = carousel.scrollLeft;
   }
   const dragging = (e)=>{
    if(!isDragStart) return;
    e.preventDefault();
    let positionDiff = e.pageX - prevPageX;
    carousel.scrollLeft = prevScrollLeft - positionDiff;
    showHideButtons()
   }
   const draggStop = ()=>{
    isDragStart = false;
   }
   carousel.addEventListener('mousedown', draggStart);
   carousel.addEventListener('mousemove', dragging);
   carousel.addEventListener('mouseup', draggStop);
  const overplay = document.querySelector('.overplay');
const body = document.querySelector('body');
const showLeadership = document.querySelectorAll('.company-leadership__info');
const tableLeadership = document.querySelectorAll('.show__main-info-leadership');

for (let i = 0; i < showLeadership.length; i++) {
  showLeadership[i].addEventListener('click', () => {
    tableLeadership[i].style.display = 'flex';
    body.classList.add('modal-open');
    overplay.style.display = 'block';
  });
}

const closeLeadership = document.querySelectorAll('.bi-x-lg');
for (let i = 0; i < closeLeadership.length; i++) {
  closeLeadership[i].addEventListener('click', () => {
    tableLeadership[i].style.display = 'none';
    body.classList.remove('modal-open');
    overplay.style.display = 'none';
  });
  
  overplay.addEventListener('click', () => {
    tableLeadership[i].style.display = 'none';
    body.classList.remove('modal-open');
    overplay.style.display = 'none';
  });
}
var followButton = document.getElementById("followButton");
if(followButton.textContent === "Following"){
    followButton.classList.add('following')
}
else{
    followButton.classList.remove('following')
}
followButton.addEventListener("mouseover", function() {
  if (followButton.textContent.trim() === "Follow") {
    followButton.textContent = "Following";
  }
  else if (followButton.textContent.trim() === "Following") {
    followButton.textContent = "Unfollowing";
  }
});
followButton.addEventListener("mouseout", function() {
  if (followButton.textContent.trim() === "Following") {
    followButton.textContent = "Follow";
  }
  else if (followButton.textContent.trim() === "Unfollowing") {
    followButton.textContent = "Following";
  }
});
</script>