<header class="companyinformation" style="background-image: url('{{getBackground company}}');">
</header>
<nav class="companyinformation">
    <img src="{{getAvatarcompany company}}" alt="">
    <div class="navcompany-center">
        <span class="first-text">{{getCompanyname company}}</span>
        <span class="second-text"><b class="adress"><i class="bi bi-geo-alt-fill"></i> {{getCompanyaddress company}}</b> <b class="separation">|</b> <b class="email"><i class="bi bi-envelope-at-fill"></i> {{getCompanyemail company}}</b></span>
        <span class="third-text"><b>Industry:</b> {{getCompanyfield company}}</span>
    </div>
</nav>
<div class="body-companyinformation">
    <h1>{{company.jobcount}} Jobs Are Opening.</h1>
    <div class="companyinformation-showjob">
        <p >We have {{company.jobcount}} jobs for you</p>
        <ul>
        {{#each listjob}}
            <div data-href-listjob="{{this._id}}" class="jobs-companyinfo">
                <li class="content-listjob job-companyinfo">
                    <span class="namejobs">{{this.jobname}}</span>
                    <div class="secondary-listjob">
                        <span class="timejobs"><i class="bi bi-calendar-date"></i> {{moment this.createdAt format="DD/MM/YYYY" }}</span>
                        <span class="locationjobs"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</span>
                    </div> 
                </li>
                <li class="job-companyinfo-action">
                    <a href="/job/{{this._id}}">View</a>
                </li>
            </div>
            {{/each}}
        </ul>
        <div class="pagination">
            {{#each pages}}
            <a href="/company/job/{{idcompany}}?page={{this}}" data-page="{{this}}">{{this}}</a>
            {{/each}}
        </div>
    </div>
</div>
<script>
    var listJob = document.querySelectorAll('.jobs-companyinfo');
    listJob.forEach(function(job){
        const linkJob = job.getAttribute('data-href-listjob');
        job.addEventListener('click',()=>{
            window.location.href = `/job/${linkJob}`;
        });
    });

    var getPagination = document.querySelectorAll('.pagination a');
    var paginationContainer = document.querySelector('.pagination');
    if (getPagination.length > 1) {
    paginationContainer.style.display = 'flex';
    } else {
    paginationContainer.style.display = 'none';
    }
    getPagination.forEach(function(pageLink) {
    pageLink.addEventListener('click', function(event) {
        if (pageLink.classList.contains('active')) {
        event.preventDefault();
        } else {
        var page = pageLink.getAttribute('data-page');
        localStorage.setItem('currentPageCompanyInfoJob', page);
        }
    });
    });
    document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const pageFromURL = urlParams.get('page');
    const currentPage = pageFromURL || localStorage.getItem('currentPageCompanyInfoJob');
    if (currentPage !== null) {
        getPagination.forEach(function(pageLink) {
        var page = pageLink.getAttribute('data-page');
        if (page == currentPage) {
            pageLink.classList.add('active');
        } else {
            pageLink.classList.remove('active');
        }
        });
    }
    });
</script>