<div class="main-profile">
    <form class="form-company-profile" method="POST" action="/companyprofile/edit?_method=PUT"
        enctype="multipart/form-data">
        <div class="header-profile header-profile-company" id="header-profile"
            style="background: url('{{getBackground company}}') center/cover no-repeat;">
            <label class="changebackground-profile" for="header-profile-file-input">Change Background</label>
            <input type="file" name="background" id="header-profile-file-input" style="display: none;">
            <div class="header-main-text">
                <span class="header-profile-primary">Hello {{getCompanyname company}} Company</span>
                <span class="header-profile-secondary">This page is your Company profile. Clicking on the settings button
                    allows you to edit your company information</span>
            </div>
            <button class="btn-setting" type="button" >Setting <i class="bi bi-gear"></i></button>
        </div>
        <div class="content-profile company-profile">
            <div class="profile-img">
                <label for="file-user"><img class="user-avatar" src="{{getAvatarcompany company}}" alt=""></label>
                <input id="file-user" name="avatar" type="file" accept="image/*">
                <label for="file-user" class="edit-img edit-logo"><span>Change Logo</span></label>
                <label class="camera-edit" for="file-user"><i class="bi bi-camera"></i></label>
            </div>
            <div class="content-profile-main">
                <span>COMPANY INFORMATION</span>
                <div class="about-company-profile">
                    <div class="about-user">
                        <label for="education">Company Name</label>
                        <input id="education" type="text" name="companyName" placeholder="ViggaWorks"
                            value="{{getCompanyname company}}">
                    </div>
                    <div class="about-user ">
                        <label for="skills">Compnany Address</label>
                        <input id="skills" type="text" name="companyAddress" placeholder="124 Tran Hung Dao, P3 , Q.TB"
                            value="{{getCompanyaddress company}}">
                    </div>
                    <div class="about-user">
                        <label for="certifications">Company Field</label>
                        <input id="certifications" type="text" name="companyField" placeholder="IT-Sofware"
                            value="{{getCompanyfield company}}">
                    </div>
                    <div class="about-user">
                        <label for="taxcode">Tax Code</label>
                        <input id="taxcode" type="text" name="taxCode" placeholder="2556789"
                            value="{{getTaxcode company}}">
                    </div>
                    <div class="about-user ">
                        <label for="comapanyemail">Company Email</label>
                        <input id="comapanyemail" type="text" name="companyEmail" placeholder="name@example.com"
                            value="{{getCompanyemail company}}">
                    </div>
                    <div class="about-user ">
                        <label for="comapanyphone">Company Phone</label>
                        <input id="comapanyphone" type="text" name="companyPhone" placeholder="07055548"
                            value="{{getCompanyphone company}}">
                    </div>
                    <div class="about-user ">
                        <label for="companyyears">No. OfYears In Business</label>
                        <input id="companyyears" type="text" name="companyYears" placeholder="70 Years"
                            value="{{getCompanyyears company}}">
                    </div>
                    <div class="about-user ">
                        <label for="TOB">Type of business</label>
                        <select id="TOB" name="typeOfBusiness">
                            <option value="{{getTOB user}}" selected>{{getTOB company}}</option>
                            <option value="Sole Proprietorships">Sole Proprietorships.</option>
                            <option value="Partnerships">Partnerships.</option>
                            <option value="Corporations">Corporations.</option>
                            <option value="S Corporations">S Corporations.</option>
                            <option value="Limited Liability Company">Limited Liability Company.</option>
                        </select>
                    </div>
                    <div class="about-user about-user-desc-company">
                        <label for="experience">Company Description</label>
                        <textarea id="experience" type="text" name="companyDesc"
                            placeholder="ViggaWorks provides software and services to energy, water and communications industries. The company was founded in 1971 and is headquartered in Viet Nam.">{{getCompanydesc company}}</textarea>
                    </div>
                </div>
                <span>LIST JOBS</span>
                <div class="listjobs">
                    <div class="listjobs-action">
                        <button class="btn-listjobs" type="button">Add New Jobs</button>
                    </div>
                    <ul>
                        {{#each listjob}}
                        <li class="content-listjob">
                           <span class="namejobs">{{this.jobname}}</span>
                           <div class="secondary-listjob">
                                <span class="locationjobs"><i class="bi bi-geo"></i> Location: {{this.joblocation}}</span>
                                <span class="timejobs"><i class="bi bi-calendar-date"></i> {{this.createdAt}}</span>
                           </div> 
                        </li>
                        {{/each}}
                    </ul>
                    <ul class="listpagejob">
                    </ul>   
                </div>
                <div class="profile-action">
                    <button class="btn-save" type="submit">Save Profile</button>
                </div>
            </div>
        </div>
    </form>
    <div class="overplay-postjob"></div>
    <form id="postjob" method="POST" action="/companyprofile/postjob">
        <h2>New Job</h2>
        <div class="info-job">
            <label for="jobname">Job Name</label>
            <input id="jobname" name="jobname" placeholder="Developer Engineer" type="text">
        </div>
        <div class="info-job jobdesc">
            <label for="jobdesc">Job Description</label>
            <textarea id="jobdesc" name="jobdesc" placeholder="Customer Engineering Connector Technology for JOEM
- Customer Engineering for PS-CC products for JOEM (Connectors, Fuel cell air valves, Charging solutions, Fuel pump modules, General purpose actuators, Accelerator pedal modules, etc.). The main responsibility is Connector Technology.
- JOEM向けPS-CC製品（コネクター、燃料電池用エアバルブ、チャージングソリューション、燃料ポンプモジュール、ターボ用電制アクチュエーター、アクセルペダルモジュール等）の技術窓口。主にコネクターを担当。"
                type="text"></textarea>
        </div>
        <div class="info-job jobdesc">
            <label for="jobdesc">Job Requirements</label>
            <textarea id="jobdesc" name="jobrequirement" placeholder="Qualifications
- Proactiveness and openness to learn, work and collaborating in global team
- Technical background / engineering degree or similar
- Native or fluent in Japanese and advanced level in English skills for customer and global team communication
- Good understanding of automotive technology, e/wire harness experience or knowledge is a plus
- Good presentation and negotiation skills is a plus
- オープンなマインドセットで積極的に学び、グローバルチームど協力して働くことが出来る
- 技術的な仕事の経験がある、工学部の学位またはそれと同等の学力
- 顧客（JOEM）及び海外拠点とのコミュニケーションに必要なネイティブレベルの日本語力とビジネスレベルの英語力
- 自動車業界、特にコネクターやワイヤーハーネス関連の製品知識や業務経験(あれば望ましい)
- プレゼンテーション力と交渉力 (あれば望ましい)" type="text"></textarea>
        </div>
        <div class="info-job">
            <label for="namecompanyjob">Benefit</label>
            <input id="namecompanyjob" name="benefit" type="text" >
        </div>
        <div class="info-job info-job-salary">
            <div class="job-location">
                <label for="joblocation">Job Locations</label>
                <select id="joblocation" name="joblocation">
                    <option value="" selected>Select Your Location</option>
                </select>
            </div>
            <div class="job-salary">
                <label for="salary-range">Salary</label>
                <input type="text" name="salary" id="salary-range" placeholder="500$-1000$ | Negotiable">
            </div>
        </div>
        <div class="info-job">
            <button type="submit" class="btn-postjob">Post Job</button>
        </div>

    </form>
</div>
<script>
    		var provinces = ["An Giang", "Bà Rịa-Vũng Tàu", "Bắc Giang", "Bắc Kạn", "Bạc Liêu", "Bắc Ninh", "Bến Tre", "Bình Định", "Bình Dương", "Bình Phước", "Bình Thuận", "Cà Mau", "Cần Thơ", "Cao Bằng", "Đà Nẵng", "Đắk Lắk", "Đắk Nông", "Điện Biên", "Đồng Nai", "Đồng Tháp", "Gia Lai", "Hà Giang", "Hà Nam", "Hà Nội", "Hà Tĩnh", "Hải Dương", "Hải Phòng", "Hậu Giang", "Hòa Bình", "Hưng Yên", "Khánh Hòa", "Kiên Giang", "Kon Tum", "Lai Châu", "Lâm Đồng", "Lạng Sơn", "Lào Cai", "Long An", "Nam Định", "Nghệ An", "Ninh Bình", "Ninh Thuận", "Phú Thọ", "Phú Yên", "Quảng Bình", "Quảng Nam", "Quảng Ngãi", "Quảng Ninh", "Quảng Trị", "Sóc Trăng", "Sơn La", "Tây Ninh", "Thái Bình", "Thái Nguyên", "Thanh Hóa", "Thừa Thiên-Huế", "Tiền Giang", "TP Hồ Chí Minh", "Trà Vinh", "Tuyên Quang", "Vĩnh Long", "Vĩnh Phúc", "Yên Bái"];
		
		var select = document.getElementById("joblocation");
		
		for(var i = 0; i < provinces.length; i++) {
			var option = document.createElement("option");
			option.text = provinces[i];
			option.value = provinces[i];
			select.appendChild(option);
		}
    document.querySelector('label[for="header-profile-file-input"]').addEventListener('click', function () {

    });

    document.querySelector('#header-profile-file-input').addEventListener('change', function () {
        var fileBackground = this.files[0];
        var readerBackground = new FileReader();
        readerBackground.onload = function (e) {
            document.querySelector('#header-profile').style.backgroundImage = "url('" + e.target.result + "')";
        };
        readerBackground.readAsDataURL(fileBackground);
    });
      var thisPage = 1;
  var limit = 5;
  var list = document.querySelectorAll('.content-listjob')
  function loadIteam() {
    var beginGet = limit * (thisPage - 1);
    var endGet = limit * thisPage - 1;
    list.forEach((item, key) => {
      if (key >= beginGet && key <= endGet) {
        item.style.display = 'flex';
      } else {
        item.style.display = 'none';
      }
    })
    listPage();
  }
  loadIteam()
  function listPage() {
    var count = Math.ceil(list.length / limit);
    document.querySelector('.listpagejob').innerHTML = '';
    for (i = 1; i <= count; i++) {
      var newPage = document.createElement('li');
      newPage.innerHTML = i;
      document.querySelector('.listpagejob').appendChild(newPage);
      newPage.setAttribute('onclick', "changePage(" + i + ")");
      if (i === thisPage) {
      newPage.classList.add('active');
    }
    }
  }
  function changePage(i) {
    thisPage = i;
    document.querySelectorAll('.listpagejob li').forEach(function(page) {
    page.classList.remove('active');
  });
  document.querySelector('.listpagejob li:nth-child(' + (thisPage) + ')').classList.add('active');
    loadIteam()
  }
</script>
<script>
    var btnSetting = document.querySelector('.btn-setting');
    var settingProfile = document.querySelector('.content-profile');
    btnSetting.addEventListener('click', () => {
        var computedStyle = getComputedStyle(settingProfile);
        if (computedStyle.display === "none") {
            settingProfile.style.display = "block";
            settingProfile.style.opacity = "0";
            setTimeout(() => {
                settingProfile.style.opacity = "1";
            }, 50);
        }
        else {
            settingProfile.style.opacity = "0";
            setTimeout(() => {
                settingProfile.style.display = "none";
            }, 300);
        }
    })
    var hover = document.querySelector('.user-avatar')
    var edit = document.querySelector('.edit-logo')
    hover.addEventListener('mouseover', () => {
        edit.style.cssText = "display: flex; transform: translateY(-28%);"
        hover.style.cssText = "transform: translatey(-42%);"
    })
    edit.addEventListener('mouseout', () => {
        edit.style.cssText = "display: none; transform: translateY(-24%);"
        hover.style.cssText = "transform: translatey(-24%);"
    })
    hover.addEventListener('mouseout', () => {
        edit.style.cssText = "display: none; transform: translateY(-24%);"
        hover.style.cssText = "transform: translatey(-24%);"
    })
    var file = document.querySelector('#file-user');
    var img = document.querySelector('.user-avatar');
    file.addEventListener('change', () => {
        const chooseFile = file.files[0];
        if (chooseFile) {
            const reader = new FileReader();
            reader.addEventListener('load', () => {
                img.setAttribute('src', reader.result);
            });
            reader.readAsDataURL(chooseFile);
        }
    });
    var btnJob = document.querySelector('.btn-listjobs');
    var postJob = document.getElementById('postjob');
    var overplay = document.querySelector('.overplay-postjob');
    btnJob.addEventListener('click', () => {
        postJob.style.display = 'flex';
        overplay.style.display = 'block';
    })
    overplay.addEventListener('click', () => {
        postJob.style.display = 'none';
        overplay.style.display = 'none'
    })
</script>