<form class="main__create-cv">
<header class="action-create-cv">
  <span class="font-cv"><i class="bi bi-file-earmark-font"></i> Font</span>
  <span class="color-cv"><i class="bi bi-palette"></i> Color</span>
  <span class="templates-action-cv"><i class="bi bi-images"></i> Templates</span>
  <span class="download-create-cv"><button><i class="bi bi-cloud-arrow-down"></i> Download</button></span>
</header>
<div class="body__create-cv">
  <header>
    <div class="info__user-cv">
      <div class="primary__user-cv">
        <input class="fullname__user-cv" type="text" value="{{getFullname user}}">
        <input class="specialized" type="text" value="{{getSpecialized user}}">
      </div>
      <div class="secondary__user-cv">
        <div class="box__user-cv">
          <label for="fullname">Name</label>
          <textarea id="fullname" type="text" rows="1" >{{getFullname user}}</textarea>
        </div>
        <div class="box__user-cv">
          <label for="phone">Phone</label>
          <textarea id="phone" type="text" rows="1" >{{getPhone user}}</textarea>
        </div>
        <div class="box__user-cv">
          <label for="address">Address</label>
          <textarea id="address" type="text" rows="1" >{{getAddress user}}</textarea>
        </div>
        <div class="box__user-cv">
          <label for="birthday">Birth</label>
          <textarea id="birthday" type="text" rows="1" >{{getBirthday user}}</textarea>
        </div>
        <div class="box__user-cv">
          <label for="email">Email</label>
          <textarea id="email" type="text" rows="1" >{{getEmail user}}</textarea>
        </div>
      </div>
    </div>
    <div class="avatar__user-cv">
      <input type="file" id="avataruser" hidden>
      <img src="{{getAvatar user}}" alt="">
      <div class="change-avatar__user-cv">
        <div class="upload-avatar__user-cv">
          <label for="avataruser"><i class="bi bi-cloud-arrow-up"></i></label>
        </div>
        <div class="none-avatar">
          <label for="avataruser"><i class="bi bi-cloud-arrow-up"></i></label>
          <span class="off-avatar"><i class="bi bi-eye-slash"></i></span>
        </div>
      </div>
    </div>
  </header>
</div>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var textareas = document.querySelectorAll('textarea');

  textareas.forEach(function(textarea) {
    textarea.addEventListener('input', function() {
      var lineHeight = parseInt(getComputedStyle(textarea).lineHeight, 10);
      var rows = textarea.value.split('\n').length;
      var minHeight = lineHeight * 1; // Đặt min-height
      var maxHeight = lineHeight * 3; // Đặt max-height

      // Điều chỉnh độ cao của textarea
      textarea.style.height = '';

      if (rows >= 1 && rows <= 3) {
        textarea.style.height = rows * lineHeight + 'px';
      } else if (rows < 1) {
        textarea.style.height = minHeight + 'px';
      } else {
        textarea.style.height = maxHeight + 'px';
      }
    });
  });
});

var showChangeAvatar = document.querySelector('.body__create-cv header .avatar__user-cv img');
var boxChangeAvatar = document.querySelector('.change-avatar__user-cv');
showChangeAvatar.addEventListener('mouseover',()=>{
  boxChangeAvatar.style.display = 'flex';
});
boxChangeAvatar.addEventListener('mouseleave',()=>{
  boxChangeAvatar.style.display = 'none';
});
var offAvatar = document.querySelector('.off-avatar');
var icon = document.querySelector('.off-avatar i');
offAvatar.addEventListener('click', function() {
  if (showChangeAvatar.style.opacity === '0') {
    showChangeAvatar.style.opacity = '1';
    icon.classList.remove('bi-eye');
    icon.classList.add('bi-eye-slash');
  } else {
    showChangeAvatar.style.opacity = '0';
    icon.classList.remove('bi-eye-slash');
    icon.classList.add('bi-eye');
  }
});

</script>