<div class="container__manager-cv">
    <div class="main__manager-cv">
        <header>
            <h1>Manage CV of {{job.jobname}} job</h1>
            <p>This job has a total of <b>{{count}}</b> CVs applying</p>
        </header>
        <section>
            <div class="header-section">
                <span class="cv-passed">Passed CVs</span>
                <span class="cv-failed">Failed CVs</span>
            </div>
            <div class="loading-manager">
                <div class="custom-loader"></div>
            </div>
                <div class="box__passed-cv">
                    <h2>In total, this job has <b>{{countPassed}}</b> CVs that have passed your company's requirements</h2>
                {{#each cvPassed}}
                    <a href="/applyCV/{{job.companyname}}/{{job.jobname}}/qualified/{{this.nameCV}}" class="card__passed-cv" download>
                        <span class="person-applied"><b>Applicant's Name:</b> {{this.name}}</span>
                        {{#if this.professional}}
                        <span class="headline"><b>Applicant's Professional Headline:</b> {{this.professional}}</span>
                        {{else}}
                        {{/if}}
                        <span class="email-applied"><b>Applicant's Email:</b> {{this.email}}</span>
                        <span class="phone-applied"><b>Applicant's Phone:</b> {{this.phone}}</span>
                        <span class="name-file"><b>Link CV:</b> <span>{{this.nameCV}}</span></span>
                    </a>
                {{/each}}
                <div class="pagination pagination-pass" data-id-pagination-pass="{{job._id}}">
                    {{#each pagesPassed}}
                    <a data-page="{{this}}">{{this}}</a>
                    {{/each}}
                </div>
                </div>
                <div class="box__failed-cv">
                    <h2>In total, this job has <b>{{countFailed}}</b> CVs that have failed your company's requirements</h2>
                {{#each cvFailed}}
                    <a href="/applyCV/{{job.companyname}}/{{job.jobname}}/unsatisfactory/{{item.nameCV}}" class="card__failed-cv" download>
                        <div class="primary-content__management">
                            <div class="left-content">
                                <span class="person-applied"><b>{{this.name}}</b></span>
                                {{#if this.professional}}
                                    <span class="headline">{{this.professional}}</span>
                                {{else}}
                                {{/if}}
                            </div>
                            <div class="right-content">
                                {{#each this.userDetail}}
                                    <img class="avatar-managerment" src="/{{this.avatar}}" alt="">
                                {{/each}}
                            </div>
                        </div>
                        {{#if this.score}}
                        <span class="score-applied"><i class="bi bi-stars"></i> {{this.score}}% match</span>
                        {{else}}
                        <span class="score-applied"><i class="bi bi-stars"></i> 0% match</span>
                        {{/if}}
                        <span class="email-applied"><b>Applicant's Email:</b> {{this.email}}</span>
                        <span class="phone-applied"><b>Applicant's Phone:</b> {{this.phone}}</span>
                       <span class="name-file"><b>Link CV:</b> <span>{{this.nameCV}}</span></span>
                    </a>
                {{/each}}
                <div class="pagination pagination-fail" data-id-pagination-fail="{{job._id}}">
                    {{#each pagesFailed}}
                    <a data-page="{{this}}">{{this}}</a>
                    {{/each}}
                </div>
                </div>
        </section>
    </div>
</div>
<script>
    var clickPassed = document.querySelector('.cv-passed');
    var clickFailed = document.querySelector('.cv-failed');
    var containerPassed = document.querySelector('.box__passed-cv');
    var containerFailed = document.querySelector('.box__failed-cv');
    var loadingManagerCV = document.querySelector('.loading-manager');
    var passedClicked = false;
    var failedClicked = false;
    document.addEventListener("DOMContentLoaded", function() {
    passedClicked = false;
    failedClicked = true;
    var showPassCV = localStorage.getItem('boxPassCV');
    var showFailCV = localStorage.getItem('boxFailCV');
    if(showPassCV === "show"){
        containerPassed.style.display = 'flex';
        containerFailed.style.display = 'none';
        passedClicked = false;
        failedClicked = true;
        clickPassed.style.cssText = 'border-bottom: 3px solid #0095ff; color: #0095ff; cursor: default;';
        clickFailed.style.cssText = 'border-bottom: unset; color: black; cursor: pointer;';
    } else if(showFailCV === "show"){
        containerFailed.style.display = 'flex';
        containerPassed.style.display = 'none';
        failedClicked = false;
        passedClicked = true;
        clickFailed.style.cssText = 'border-bottom: 3px solid #0095ff; color: #0095ff; cursor: default';
            clickPassed.style.cssText = 'border-bottom: unset; color: black; cursor: pointer;';
    }
    });
    clickPassed.addEventListener('click',()=>{
        if(passedClicked){
            passedClicked = false;
            localStorage.setItem('boxPassCV', 'show')
            localStorage.setItem('boxFailCV', 'hide')
            clickPassed.style.cssText = 'border-bottom: 3px solid #0072bc; color: #0072bc; cursor: default;';
            clickFailed.style.cssText = 'border-bottom: unset; color: black; cursor: pointer;';
            containerFailed.style.display = 'none';
            loadingManagerCV.style.display = 'flex';
            setTimeout(function(){
            loadingManagerCV.style.display = 'none';
            },1750);
            setTimeout(function(){
            containerPassed.style.display = 'flex';
            failedClicked = true;
            },1780)
        }
    });
    clickFailed.addEventListener('click',()=>{
        if(failedClicked){
            failedClicked = false;
            localStorage.setItem('boxFailCV', 'show')
            localStorage.setItem('boxPassCV', 'hide')
            clickFailed.style.cssText = 'border-bottom: 3px solid #0072bc; color: #0072bc; cursor: default';
            clickPassed.style.cssText = 'border-bottom: unset; color: black; cursor: pointer;';
            containerPassed.style.display = 'none';
            loadingManagerCV.style.display = 'flex';
            setTimeout(function(){
            loadingManagerCV.style.display = 'none';
            },1750);
            setTimeout(function(){
            containerFailed.style.display = 'flex';
            passedClicked = true;
            },1780)
        }
    });
    var getPaginationPass = document.querySelectorAll('.pagination-pass a');
    var paginationContainerPass = document.querySelector('.pagination-pass');
    var getIDPaginationPass = paginationContainerPass.getAttribute('data-id-pagination-pass');
    if (getPaginationPass.length > 1) {
    paginationContainerPass.style.display = 'flex';
    } else {
    paginationContainerPass.style.display = 'none';
    }
    getPaginationPass.forEach(function(pageLink) {
    var page = pageLink.getAttribute('data-page');
    pageLink.href = `/CVManager?id=${getIDPaginationPass}&pagePassed=${page}`;
    pageLink.addEventListener('click', function(event) {
        if (pageLink.classList.contains('active')) {
        event.preventDefault();
        } else {
        localStorage.setItem('currentPagePassCV', page);
        }
    });
    });

    var getPaginationFail = document.querySelectorAll('.pagination-fail a');
    var paginationContainerFail = document.querySelector('.pagination-fail');
    var getIDPaginationFail = paginationContainerFail.getAttribute('data-id-pagination-fail');
    if (getPaginationFail.length > 1) {
    paginationContainerFail.style.display = 'flex';
    } else {
    paginationContainerFail.style.display = 'none';
    }
    getPaginationFail.forEach(function(pageLink) {
    var page = pageLink.getAttribute('data-page');
    pageLink.href = `/CVManager?id=${getIDPaginationFail}&pageFailed=${page}`;
    pageLink.addEventListener('click', function(event) {
        if (pageLink.classList.contains('active')) {
        event.preventDefault();
        } else {
        localStorage.setItem('currentPageFailCV', page);
        }
    });
    });

    document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const pageFromURL = urlParams.get('page');
    const currentPage = pageFromURL || localStorage.getItem('currentPagePassCV');
    if (currentPage !== null) {
        getPaginationPass.forEach(function(pageLink) {
        var page = pageLink.getAttribute('data-page');
        if (page == currentPage) {
            pageLink.classList.add('active');
        } else {
            pageLink.classList.remove('active');
        }
        });
    }
    const urlParamsFail = new URLSearchParams(window.location.search);
    const pageFromURLFail = urlParamsFail.get('page');
    const currentPageFail = pageFromURLFail || localStorage.getItem('currentPageFailCV');
    if (currentPageFail !== null) {
        getPaginationFail.forEach(function(pageLink) {
        var page = pageLink.getAttribute('data-page');
        if (page == currentPageFail) {
            pageLink.classList.add('active');
        } else {
            pageLink.classList.remove('active');
        }
        });
    }
    });
</script>