<div class="container-home">
    <div class="first-content">
        <img src="/img/bgcontent.jpg" alt="">
        <form class="search-home">
            <span class="title">Savor success with</span>
            <span class="countjob">{{totalJobs}} career options</span>
            <div class="box-search__home">
                <div class="search-namecompany">
                    <label for="namecompany"><i class="bi bi-search"></i></label>
                    <input type="search" id="namecompany" name="namecompany" placeholder="Name Company">
                </div>
                <div class="search-pc">
                <div class="search-categories">
                    <label for="categories">
                        <span class="material-symbols-outlined">
                        menu
                        </span>
                    </label>
                    <select name="categories" id="categories">
                        <option  value="" selected>Categiries</option>
                        {{#each companies}}
                        <option value="{{this.companyfield}}">{{this.companyfield}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="search-position">
                    <label for="position">
                        <span class="material-symbols-outlined">
                        business_center
                        </span>
                    </label>
                    <select name="position" id="position">
                        <option  value="" selected>Position</option>
                        {{#each jobs}}
                        <option value="{{this.position}}">{{this.position}}</option>
                        {{/each}}
                    </select>
                </div>
                </div>
            </div>
            <div class="action-search">
                <button type="submit">Search</button>
            </div>
            <div class="find-company">
                <span>Find your favorite company</span>
                <div class="discover-company">
                    <a href="/company">Discover Now</a>
                </div>
            </div>
        </form>
    </div>
    <div class="templates-cv">
        <div class="templates-img">
            <img class="templates-img1" src="/img/cv1.jpeg" alt="">
            <img class="templates-img2" src="/img/cv2.jpeg" alt="">
            <img class="templates-img3" src="/img/cv3.png" alt="">
            <img class="templates-img4" src="/img/cv4.jpeg" alt="">
        </div>
        <div class="templates-text">
            <span>Impress Employers With ViggaCareers NiceCV
Create a quick and free CV template, so that employers must
"Surprise" as soon as I see your CV.</span>
            <a class="templates-text__action" href="/cv">Discover Now</a>
        </div>
    </div>
     <div class="company-job">
        <a href="/company" class="home-company">
            <span>Companies</span>
        </a>
        <a href="/job" class="home-job">
            <span>Jobs</span>
        </a>
    </div>
         <div class="advantages">
        <div class="advantage-before">
            <div class="advantage">
                <i class="bi bi-cash-coin"></i>
                <h3>Free, as in no cost</h3>
                <span>Your first resume is completely free and will be watermark-free. There are no premium-only alternatives, and you may download your resume as frequently as you like for free.</span>
            </div>
            <div class="advantage">
                <i class="bi bi-filetype-pdf"></i>
                <h3>High-quality PDF</h3>
                <span>Several hours were spent ensuring that your PDF looks as sharp as possible when printed or shared.</span>
            </div>
        </div>
        <div class="advantage-after">
            <div class="advantage">
                <i class="bi bi-file-earmark-lock2"></i>
                <h3>Data privacy</h3>
                <span>We don't sell your info. Ever. Instead, we are GDPR-compliant and allow you to erase all of your data in an instant if you so want.</span>
            </div>
            <div class="advantage">
                <i class="bi bi-chat-left-text"></i>
                <h3>Get feedback</h3>
                <span>So that you don't have to provide a new version every time you make a change, you may ask your friends for input via a link and have any changes made instantly.</span>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
<script>
      const images = ["image1.jpg", "image2.jpg", "image3.jpg","image4.jpg"];

      let currentImageIndex = 0;
      const slideshowElement = document.getElementById("slideshow");
      const slideshowInterval = setInterval(function() {
        slideshowElement.children[currentImageIndex].style.display = "none";
        currentImageIndex = (currentImageIndex + 1) % images.length;
        slideshowElement.children[currentImageIndex].style.display = "block";
      }, 3000);
      
</script>
<script>
  const listImages = document.querySelectorAll('.templates-img img');

  let currentImageIndexA = 0;
  listImages[currentImageIndexA].style.transform = 'translateY(0)';

  setInterval(function() {
    listImages[currentImageIndexA].style.transform = 'translateY(-100%)';

    currentImageIndexA = (currentImageIndexA + 1) % listImages.length;

    listImages[currentImageIndexA].style.transform = 'translateY(0)';
  }, 5000);
</script>