<div class="container-home">
    <div class="first-content">
        <img class="parallax-img" src="/img/bgcontent.jpg" alt="">
        <form class="search-home" action="/job/search">
            <span class="title">Savor success with</span>
            <span class="countjob">{{totalJobs}} career options</span>
            <div class="box-search__home">
                <div class="search-namecompany">
                    <label for="namecompany"><i class="bi bi-search"></i></label>
                    <input type="search" id="namecompany" name="search" placeholder="Name Company, Name Job">
                </div>
                <div class="search-pc">
                <div class="search-categories">
                    <label for="categories">
                        <span class="material-symbols-outlined">
                        menu
                        </span>
                    </label>
                    <select name="categories" id="categories">
                        <option  value="" selected>Categiries</option>
                        {{#each companies}}
                        <option value="{{this.companyfield}}">{{this.companyfield}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="search-position">
                    <label for="position">
                        <span class="material-symbols-outlined">
                        business_center
                        </span>
                    </label>
                    <select name="position" id="position">
                        <option  value="" selected>Position</option>
                        {{#each jobs}}
                        <option value="{{this.position}}">{{this.position}}</option>
                        {{/each}}
                    </select>
                </div>
                </div>
            </div>
            <div class="action-search">
                <button type="submit">Search</button>
            </div>
            <div class="find-company">
                <span>Find your favorite company</span>
                <div class="discover-company">
                    <a href="/company">Discover Now</a>
                </div>
            </div>
        </form>
        <div class="toprecruiters">
            <span class="title-toprecruiters">Top 5 recruitment companies</span>
            <div class="list-toprecruiters">
                {{#each mostJobs}}
                    <div class="card-toprecruiter">
                        <div class="top__card-recruiter">
                            <span id="content-top__recruiter"><i class="bi bi-gem"></i> Top</span>
                        </div>
                        <img class="top__recruiter-avatar" src="{{this.avatar}}" alt="">
                        <span class="recruiter__jobcount">{{this.jobcount}} jobs</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="company-feature">
        <div class="header__company-feature">
            <span class="hotcompany">Featured Companies</span>
            <span class="hotjob">Outstanding Jobs</span>
        </div>
        <div class="custom-loader"></div>
        <div class="box-hotcompany">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                {{#each topCompanies}}
                <div class="swiper-slide">
                    <div class="background-company" style="background: url('{{getBackground this}}') center / cover no-repeat;"></div>
                    <div class="box__info-company">
                        <img src="{{getAvatar this}}" alt="">
                        <div class="left-info">
                        <span class="company-name">{{this.companyname}}</span>
                        <span class="company-field">{{this.companyfield}}</span>
                        <div class="view-detail__desc">
                            <span class="company-desc-info">{{this.companydesc}}</span>
                            <a href="/company/{{this._id}}">View More</a>
                        </div>
                        <span class="job-count__company">{{this.jobcount}} Jobs</span>
                        </div>
                        <span data-follow-info="{{this.follow}}" class="info-company__follow">{{this.follow}} Followers</span>
                    </div>
                </div>
                {{/each}}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
                </div>
            </div>
        </div>
        <div class="box-hotjob">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{!-- thay thế bằng job có nhiều tim nhất  --}}
                    {{#each jobs}}
                        <div class="swiper-slide">
                            <a href="/job/{{this._id}}" class="box__info-job">
                                <img src="{{getAvatarJoba this}}" alt="">
                                <div class="left__info-job">
                                    <span class="hot__job-name">{{this.jobname}}</span>
                                    <span class="hot__job__company-name">{{this.companyname}}</span>
                                    <span class="hot__job-salary"><i class="bi bi-currency-dollar"></i> {{this.salary}}</span>
                                    <span class="hot__location"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</span>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
       <div class="templates-cv">
        <div class="templates-img">
            <img class="templates-img1" src="/img/cv1.jpeg" alt="">
            <img class="templates-img2" src="/img/cv2.jpeg" alt="">
            <img class="templates-img3" src="/img/cv3.png" alt="">
            <img class="templates-img4" src="/img/cv4.jpeg" alt="">
        </div>
        <div class="templates-text">
            <span>Impress Employers With ViggaCareers NiceCV
Create a quick and free CV template, so that employers must
"Surprise" as soon as I see your CV.</span>
            <a class="templates-text__action" href="/cv">Discover Now</a>
        </div>
    </div>
    <div class="home-jobs">
        <span class="title-jobs">There are 20 new positions awaiting your application.</span>
         <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {{#each latestJobs}}
                <div class="swiper-slide">
                    <a href="/job/{{this._id}}" class="box-jobnew">
                        <div class="top-jobnew">
                            <img src="/{{this.avatar}}" alt="">
                            <div class="left-info__jobnew">
                                <span class="jobnew__name">{{this.jobname}}</span>
                                <span class="jobnew__company">{{this.companyname}}</span>
                            </div>
                        </div>
                        <div class="bottom-jobnew">
                            <span class="jobnew__salary">{{this.salary}}</span>
                            <span class="jobnew__location">{{this.joblocation}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
         <div class="home-subscribe">
        <span class="title-subscribe">Follow the latest company and job updates on Vigga Careers by subscribing.</span>
        <form action="/subscribe" method="POST" class="box-subscribe">
            <input type="text" id="subscribe" name="subscribe" required>
            <label for="subscribe"><button type="submit">Subscribe Now</button></label>
            <label for="subscribe" class="label-title">Your Email</label>
        </form>
    </div>
    <div class="home-personal">
        <span class="title-personal">Setting up a personal brand through Vigga Careers</span>
        <div class="list-personal">
            <div class="card-profile">
                <div class="profile-left">
                    <span class="title-profile">Vigga Careers Profile</span>
                    <span class="content-profile__personal">The Vigga Careers Profile helps people promote themselves with a full competency profile. This profile highlights strengths by including education, Specialized, experience, and Certifications.</span>
                    <a class="action-personal" href="/profile">Making a profile </a>
                </div>
                <div class="profile-right">
                    <img src="/img/personalleft.png" alt="">
                </div>
            </div>
             <div class="card-profile">
                <div class="profile-left">
                    <span class="title-profile">Vigga Careers NiceCV</span>
                    <span class="content-profile__personal">Develop a concise and cost-free curriculum vitae (CV) template that elicits a sense of astonishment from employers upon initial review.</span>
                    <a class="action-personal" href="/cv">Making a CV </a>
                </div>
                <div class="profile-right">
                    <img src="/img/personalright.png" alt="">
                </div>
            </div>
        </div>
    </div>
            {{!-- <div class="company-job">
        <a href="/company" class="home-company">
            <span>Companies</span>
        </a>
        <a href="/job" class="home-job">
            <span>Jobs</span>
        </a>
    </div> --}}
         <div class="advantages">
            <span class="title-advantages">Benefit</span>
            <div class="box-advantages">
        <div class="advantage-before">
            <div class="advantage">
                <div class="left-avantage">
                    <i class="bi bi-cash-coin"></i>
                </div>
                <div class="right-advantage">
                    <h3>Free, as in no cost</h3>
                    <span>Your first resume is completely free and will be watermark-free. There are no premium-only alternatives, and you may download your resume as frequently as you like for free.</span>
                </div>
            </div>
            <div class="advantage">
                <div class="left-avantage">
                    <i class="bi bi-filetype-pdf"></i>
                </div>
                <div class="right-advantage">
                    <h3>High-quality PDF</h3>
                    <span>Several hours were spent ensuring that your PDF looks as sharp as possible when printed or shared.</span>
                </div>
            </div>
        </div>
        <div class="advantage-center">
        </div>
        <div class="advantage-after">
            <div class="advantage">
                <div class="left-avantage">
                    <i class="bi bi-file-earmark-lock2"></i>
                </div>
                <div class="right-advantage">
                    <h3>Data privacy</h3>
                    <span>We don't sell your info. Ever. Instead, we are GDPR-compliant and allow you to erase all of your data in an instant if you so want.</span>
                </div>
            </div>
            <div class="advantage">
                <div class="left-avantage">
                    <i class="bi bi-chat-left-text"></i>
                </div>
                <div class="right-advantage">
                    <h3>Get feedback</h3>
                    <span>So that you don't have to provide a new version every time you make a change, you may ask your friends for input via a link and have any changes made instantly.</span>
                </div>
            </div>
        </div>
        </div>
    </div>
    {{> footer}}
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
      // parallax
 var formSearch = document.querySelector('.search-home');
var containerScroll = document.querySelector('.container-home');
var topCompany = document.querySelector('.container-home .first-content .toprecruiters');
containerScroll.addEventListener('scroll', () => {
    let rollHeight = containerScroll.scrollTop;
    formSearch.style.transform = `translatey(${rollHeight * -0.2}px)`;
    topCompany.style.transform = `translatey(${rollHeight * 0.5}px)`;
});
  const listImages = document.querySelectorAll('.templates-img img');

  let currentImageIndexA = 0;
  listImages[currentImageIndexA].style.transform = 'translateY(0)';

  setInterval(function() {
    listImages[currentImageIndexA].style.transform = 'translateY(-100%)';

    currentImageIndexA = (currentImageIndexA + 1) % listImages.length;

    listImages[currentImageIndexA].style.transform = 'translateY(0)';
  }, 5000);
// carousel hot company
  const progressCircle = document.querySelector(".company-feature .box-hotcompany .swiper .autoplay-progress svg");
    const progressContent = document.querySelector(".company-feature .box-hotcompany .swiper .autoplay-progress span");
    var swiper = new Swiper(".company-feature .box-hotcompany .mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: ".company-feature .box-hotcompany .swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".company-feature .box-hotcompany .swiper-button-next",
        prevEl: ".company-feature .box-hotcompany .swiper-button-prev"
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressCircle.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      }
    });
// carousel hot job
var swiperHotJob = new Swiper(".box-hotjob  .swiper", {
      slidesPerView: 3,
      grid: {
        rows: 2,
      },
      spaceBetween: 30,
      pagination: {
        el: ".box-hotjob  .swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".box-hotjob .swiper-button-next",
        prevEl: ".box-hotjob .swiper-button-prev"
      }
    });
    var clickCompanyHot = document.querySelector('.company-feature .header__company-feature span.hotcompany');
    var boxCompanyHot = document.querySelector('.company-feature .box-hotcompany');
    var loadingFeatureCompany = document.querySelector('.company-feature .custom-loader');
    var clickJobHot = document.querySelector('.company-feature .header__company-feature span.hotjob');
    var boxJobHot = document.querySelector('.company-feature .box-hotjob');
    clickJobHot.addEventListener('click',()=>{
        clickJobHot.style.cssText = 'border-bottom: 4px solid #0072bc;';
        clickCompanyHot.style.cssText = 'border-bottom: unset;';
        boxCompanyHot.style.display = 'none';
        loadingFeatureCompany.style.display = 'grid';
        setTimeout(function(){
            loadingFeatureCompany.style.display = 'none';
        }, 1750);
        setTimeout(function(){
            boxJobHot.style.display = 'flex';
        }, 1780);
    });
    clickCompanyHot.addEventListener('click',()=>{
        clickCompanyHot.style.cssText = 'border-bottom: 4px solid #0072bc;';
        clickJobHot.style.cssText = 'border-bottom: unser;';
        boxJobHot.style.display = 'none';
        loadingFeatureCompany.style.display = 'grid';
        setTimeout(function(){
            loadingFeatureCompany.style.display = 'none';
        }, 1750);
        setTimeout(function(){
            boxCompanyHot.style.display = 'flex';
        }, 1780);
    });
    // carousel jobs
     var swiper = new Swiper(".container-home .home-jobs .mySwiper", {
        slidesPerView: 3,
        slidesPerColumn: 4,
        slidesPerGroup :12,
        spaceBetween: 20,
        autoplay: {
        delay: 3500,
        disableOnInteraction: false
        },
        grid: {
          rows: 4,
        },
      pagination: {
        el: ".container-home .home-jobs .swiper-pagination",
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + (index + 1) + "</span>";
        },
      },
      navigation: {                       
            nextEl: ".container-home .home-jobs .swiper-button-next",
            prevEl: ".container-home .home-jobs .swiper-button-prev",
        }, 
        on: {
            init: function () {},
            orientationchange: function(){},
            beforeResize: function(){
                let vw = window.innerWidth;
                if(vw > 1000){
                mySwiper.params.slidesPerView = 3
                    mySwiper.params.slidesPerColumn = 3
                    mySwiper.params.slidesPerGroup = 3;
                } else {
                mySwiper.params.slidesPerView = 4
                    mySwiper.params.slidesPerColumn = 2
                    mySwiper.params.slidesPerGroup =4;
                }
                mySwiper.init();
            },
    },
});
 var listBox = document.querySelectorAll('.box__info-company')
 listBox.forEach(function(item) {
  const showFollowBox = item.querySelector('.info-company__follow');
  const countFollowBox = showFollowBox.getAttribute('data-follow-info');
  if (countFollowBox <= 1 ){
    showFollowBox.innerHTML = `${countFollowBox} ` + 'Follower';
  }
  else{
    showFollowBox.innerHTML = ` ${countFollowBox} ` + 'Followers';
  }
})
</script>
