<header class="job-search">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {{#ifeq user 'user'}}
      {{#each listJobAd}}
        <div class="swiper-slide">
          <div class="job-ads">
            <div class="background-company__job-ads">
                <img class="background-company" src="/{{this.backGround}}" alt="">
                <img class="avatar-company" src="{{this.avatar}}" alt="">
            </div>
            <div class="primary-content__job-ads">
                <a href="/job/{{this._id}}">{{this.jobname}}</a>
                <h5>{{this.companyname}}</h5>
                <p class="job-desc">{{this.jobdesc}}</p>
                <div class="secondary-content">
                  <p><i class="bi bi-calendar-date"></i> {{moment this.createdAt format="DD/MM/YYYY"}}</p>
                  <p class="location"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</p>
                </div>
                <span class="superHot"><i class="bi bi-fire"></i> The most outstanding jobs today <i class="bi bi-fire"></i></span>
            </div>
            <div class="salary-content__job-ads">
              <p><i class="bi bi-currency-dollar"></i> {{this.salary}}</p>
              <a href="/job/{{this._id}}"><i class="bi bi-fire"></i> Apply Now <i class="bi bi-fire"></i></a>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#each listJobAd}}
        <div class="swiper-slide">
          <div class="job-ads">
            <div class="background-company__job-ads">
                <img class="background-company" src="/{{this.backGround}}" alt="">
                <img class="avatar-company" src="{{this.avatar}}" alt="">
            </div>
            <div class="primary-content__job-ads">
                <a href="/job/{{this._id}}">{{this.jobname}}</a>
                <h5>{{this.companyname}}</h5>
                <p class="job-desc">{{this.jobdesc}}</p>
                <div class="secondary-content">
                  <p><i class="bi bi-calendar-date"></i> {{moment this.createdAt format="DD/MM/YYYY"}}</p>
                  <p class="location"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</p>
                </div>
                <span class="superHot"><i class="bi bi-fire"></i> The most outstanding jobs today <i class="bi bi-fire"></i></span>
            </div>
            <div class="salary-content__job-ads">
              <p><i class="bi bi-currency-dollar"></i> {{this.salary}}</p>
              <a href="/job/{{this._id}}"><i class="bi bi-fire"></i> Apply Now <i class="bi bi-fire"></i></a>
            </div>
          </div>
        </div>
      {{/each}}
      {{#if user}}
      <div class="swiper-slide">
        <div class="hot-job__ads">
          <h3><i class="bi bi-fire"></i> Connect with top talent today <i class="bi bi-fire"></i></h3>
          <h5>We provide a specialized platform for employers to advertise job opportunities and attract high-quality candidates. Key features include:</h5>
          <ul>
            <li><img src="/img/benefit.svg" alt="">Priority Placement</li>
            <li><img src="/img/benefit.svg" alt="">Diverse Candidate Network</li>
            <li><img src="/img/benefit.svg" alt="">Flexible Advertising</li>
          </ul>
          <a class="ads-now" href="/companyprofile"><i class="bi bi-fire"></i> Advertise Now <i class="bi bi-fire"></i></a>
        </div>
      </div>
      {{/if}}
    {{/ifeq}}
  </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    {{!-- <div class="swiper-pagination"></div> --}}
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
  {{#if user}}
    <div class="header-search">
      <div class="navbar-left">
        <div class="navbar-left__primary">
            <a class="navbar-left-img" href="#toTop"><img id="change-logo" src="/img/LOGOVGAJOB.png" alt=""></a>
            <a class="navbar-left-name" href="#toTop"><span>ViggaCareers</span></a>
        </div>
        <a class="litle-text" href="#toTop"><p >Unlock Your Potential</p></a>
    </div>
      <form class="input-search" action="/job/search">
      <input name="search" id="search" type="search" placeholder="Looking for jobs or companies">
      <label for="search"><i class="bi bi-search"></i></label>
      <div class="categories-select">
          <select name="categories" id="categories-search">
             <option  value="" selected>Professions</option>
             {{#each listcompany}}
             <option value="{{this.companyfield}}">{{this.companyfield}}</option>
             {{/each}}
          </select>
          <i class="bi bi-caret-down-fill"></i>
      </div>
      <div class="categories-select__position">
          <select name="position" id="categories-search__position">
             <option  value="" selected>Position</option>
             {{#each jobs}}
             <option value="{{this.position}}">{{this.position}}</option>
             {{/each}}
          </select>
          <i class="bi bi-caret-down-fill"></i>
      </div>
      <button type="submit">Search</button>
      </form>
      <form action="/scan" method="POST" class="header-search__scancv" enctype="multipart/form-data">
        <input type="file" name="scancv" id="scancv" accept=".doc, .docx, .pdf" hidden>
        <label for="scancv">
          <span class="text-scancv">Search By CV</span> 
          <img class="icon-scancv" src="/img/scancv.png" alt="">
          <div class="tick-scancv"></div>
        </label>
      <div class="alert-scancv">
          <span>Below is the file you need to scan ?</span>
          <span class="file-name"></span>
          <div class="alert-scancv__action">
            <button type="button" class="submit-scancv">yes</button>
            <button type="button" class="refuse-scancv">no</button>
          </div>
        </div>
      </form>
    </div>
    {{else}}
    <div class="header-search">
      <div class="navbar-left">
        <div class="navbar-left__primary">
            <a class="navbar-left-img" href="#toTop"><img id="change-logo" src="/img/LOGOVGAJOB.png" alt=""></a>
            <a class="navbar-left-name" href="#toTop"><span>ViggaCareers</span></a>
        </div>
        <a class="litle-text litle-text__not-user" href="#toTop"><p >Unlock Your Potential</p></a>
    </div>
      <form class="input-search input-search__user" action="/job/search">
      <input name="search" id="search" type="search" placeholder="Looking for jobs or companies">
      <label class="label-search" for="search"><i class="bi bi-search"></i></label>
      <button type="submit">Search</button>
      </form>
      <div class="header-search__login">
        <a href="/login" class="search-login">
          <div class="icon-user"><i class="bi bi-person-video"></i></div>
          <div class="sign-in">Sign In</div>
        </a>
      </div>
    </div>
    {{/if}}
</header>
  <div class="container-jobs">
      <h1 class="jobs-matched">{{count}} Jobs Matched</h1>
  <div class="main-jobs">
    <div class="card-jobs">
      {{#each job}}
      <div class="card-job" data-href-cardjob="{{this._id}}">
        <div class="avatar-company">
          <img src="{{getAvatarJoba this}}" alt="" onerror="this.src='/img/notfoundavatar.jpeg'">
        </div>
        <div class="card-job__info">
        <a href="/job/{{this._id}}" class="job-name">{{this.jobname}}</a>
        <a href="/company/{{this.idcompany}}" class="job__company-name">{{this.companyname}}</a>
        <p class="job-desc" title="{{this.jobdesc}}">{{this.jobdesc}}</p>
        <div class="location-time">
          <p class="job-time" data-time="{{this.createdAt}}"></p>
          <p class="job-location"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</p>
        </div>
        </div>
        <div class="card-job__action">
          <p class="salary-job__action"><i class="bi bi-currency-dollar"></i>{{this.salary}}</p>
          <a class="detail-job__action" href="/job/detail/{{this._id}}">View Detail <i class="bi bi-chevron-double-right"></i></a>
        </div>
        <span class="check-hot" data-check-hot="{{this.prioritize}}"></span>
        <img src="" alt="" class="new-job">
      </div>
      {{/each}}
    <div class="pagination">
      {{#each pages}}
      <a href="/job?page={{this}}" data-page="{{this}}">{{this}}</a>
      {{/each}}
    </div>
    <div class="suggest-company">
      <div class="card-suggest" style="background:linear-gradient(to right, #100a098f, #100a0933), url('{{getbackgroundCPRandom random}}') center/cover no-repeat;">
        <header class="header-suggest">
          <img src="{{getAvatarCPRandom random}}" alt="" onerror="this.src='/img/notfoundavatar.jpeg'">
          <span class="name-suggest">{{random.companyname}} <b>{{random.typeofbusiness}}</b></span>
        </header>
        <ul class="random-job">
          <span class="suggest-text">suggested jobs</span>
          {{#each randomJobs}}
          <a href="/job/{{this._id}}">
            <li>
              <span class="suggest-jobname" title="{{this.jobname}}">{{this.jobname}}</span>
              <div class="suggestion-deal">
                <span class="suggest-joblocation"title="{{this.joblocation}}"><i class="bi bi-geo-alt-fill"></i> {{this.joblocation}}</span>
                <span class="suggest-jobsalary" title="Salary: {{this.salary}}"><i class="bi bi-currency-dollar"></i>{{this.salary}}</span>
              </div>
            </li>
          </a>
          {{/each}}
        </ul>
        <footer class="footer-suggest">
          <a href="/company/{{random._id}}">Apply Now</a>
        </footer>
        <img class="icon-suggestion" src="/img/suggestion.png" alt="">
        <i id="close-suggest" class="bi bi-three-dots-vertical"></i>
        <div class="box-contain-close">
          <i class="bi bi-eye-slash"></i>
          <span>hide this content</span>
        </div>
      </div>
    </div>
    </div>
    <div class="jobs-ads">
      <div class="best-job">
        <a class="best-job__link" href="/company/{{bestCP._id}}">
        <span class="primary-text">Top Hirring Company</span>
        <img src="{{getbackgroundJobBest bestCP}}" alt="" class="best-job__background" onerror="this.src='/img/notfoundavatar.jpeg'" >
        <img src="{{getAvatarCPBest bestCP}}" alt="" class="best-job__avatar" onerror="this.src='/img/notfoundavatar.jpeg'">
        </a>
        <div class="main__best-job">
          <span class="best-job__company-name">{{bestCP.companyname}} {{bestCP.typeofbusiness}}</span>
          <a href="/company/job/{{bestCP._id}}" class="best-job__count">{{bestCP.jobcount}} Opening Jobs</a>
        </div>
      </div>
      <div class="ads-TPcompany">
        <img src="/img/posterads2.png" alt="">
      </div>
      <div class="ads-NYcompany">
        <img src="/img/posteradsNhuY.png" alt="">
      </div>
      <div class="ads-LRcompany">
        <img src="/img/posteradsLR.jpg" alt="">
      </div>
    </div>
  </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const progressCircle = document.querySelector("header.job-search .swiper .autoplay-progress svg");
    const progressContent = document.querySelector("header.job-search .swiper .autoplay-progress span");
    var swiper = new Swiper("header.job-search .swiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 8000,
        disableOnInteraction: false
      },
      /*pagination: {
        el: "header.job-search .swiper .swiper-pagination",
        clickable: true
      },*/
      navigation: {
        nextEl: "header.job-search .swiper .swiper-button-next",
        prevEl: "header.job-search .swiper .swiper-button-prev"
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressCircle.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      }
    });
  var showCloseBox = document.getElementById('close-suggest');
  var boxClose = document.querySelector('.box-contain-close');
  var closeSuggest = document.querySelector('.card-suggest');
  showCloseBox.addEventListener('click',()=>{
    event.stopPropagation();
    boxClose.style.top = '20px';
  });
  document.addEventListener('click', function(event) {
  if (event.target !== boxClose ){
    boxClose.style.top = '-50%';
  }
});
  boxClose.addEventListener('click',()=>{
    closeSuggest.style.display = 'none';
  });
var getPagination = document.querySelectorAll('.pagination a');
var paginationContainer = document.querySelector('.pagination');
if (getPagination.length > 1) {
  paginationContainer.style.display = 'flex';
} else {
  paginationContainer.style.display = 'none';
}
getPagination.forEach(function(pageLink) {
  pageLink.addEventListener('click', function(event) {
    if (pageLink.classList.contains('active')) {
      event.preventDefault();
    } else {
      var page = pageLink.getAttribute('data-page');
      localStorage.setItem('currentPageJob', page);
    }
  });
});
document.addEventListener('DOMContentLoaded', () => {
window.addEventListener('scroll', function() {
  var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
  var checkLengthSlide = document.querySelectorAll('.swiper-slide').length;
  console.log(checkLengthSlide)
  if (checkLengthSlide === 0) {
    if (scrollPosition >= 85) {
      document.querySelector('.header-search').style.cssText = 'position: fixed; top: 0; box-shadow: 1px 1px 10px rgba(0,0,0,0.5); background-color: white; border-bottom: 1px solid #ededed;';
      document.querySelector('.header-search .input-search input').style.cssText = 'background-color: #F7F7F7;';
      if(document.querySelector('.header-search .input-search .categories-select') && document.querySelector('.header-search .input-search .categories-select__position')){
        document.querySelector('.header-search .input-search .categories-select').style.cssText = 'background-color: #F7F7F7;';
        document.querySelector('.header-search .input-search .categories-select__position').style.cssText = 'background-color: #F7F7F7;';
      }
      document.querySelector('.header-search .navbar-left .navbar-left__primary a.navbar-left-name').style.cssText = 'color: #0072bc';
      document.querySelector('.header-search .navbar-left a.litle-text').style.cssText = 'color: black;';
      document.getElementById('change-logo').src = '/img/LOGOVGA.png';
      document.querySelector('.header-search .header-search__login .search-login').style.display = 'flex';
    } else {
      document.querySelector('.header-search').style.cssText = 'position: unset; box-shadow: unset;';
      document.querySelector('.header-search .input-search input').style.cssText = 'background-color: white;';
      if(document.querySelector('.header-search .input-search .categories-select') && document.querySelector('.header-search .input-search .categories-select__position')){
      document.querySelector('.header-search .input-search .categories-select').style.cssText = 'background-color: white;';
      document.querySelector('.header-search .input-search .categories-select__position').style.cssText = 'background-color: white;';
      }
      document.querySelector('.header-search .navbar-left .navbar-left__primary a.navbar-left-name').style.cssText = 'color: black';
      document.querySelector('.header-search .navbar-left a.litle-text').style.cssText = 'color: #0072bc;';
      document.getElementById('change-logo').src = '/img/LOGOVGAJOB.png';
      document.querySelector('.header-search .header-search__login .search-login').style.display = 'none';
    }
  } else if (checkLengthSlide > 0) {
    if (scrollPosition >= 362) {
      document.querySelector('.header-search').style.cssText = 'position: fixed; top: 0; box-shadow: 1px 1px 10px rgba(0,0,0,0.5); background-color: white; border-bottom: 1px solid #ededed;';
      document.querySelector('.header-search .input-search input').style.cssText = 'background-color: #F7F7F7;';
      if(window.innerWidth > 603){
        document.querySelector('.container-jobs').style.cssText = 'margin-top: 80px';
      }else if(window.innerWidth > 374 && window.innerWidth < 602){
        document.querySelector('.container-jobs').style.cssText = 'margin-top: 180px';
      }else{
        document.querySelector('.container-jobs').style.cssText = 'margin-top: 120px';
      }
      if(document.querySelector('.header-search .input-search .categories-select') && document.querySelector('.header-search .input-search .categories-select__position')){
        document.querySelector('.header-search .input-search .categories-select').style.cssText = 'background-color: #F7F7F7;';
        document.querySelector('.header-search .input-search .categories-select__position').style.cssText = 'background-color: #F7F7F7;';
      }
      document.querySelector('.header-search .navbar-left .navbar-left__primary a.navbar-left-name').style.cssText = 'color: #0072bc';
      document.querySelector('.header-search .navbar-left a.litle-text').style.cssText = 'color: black;';
      document.getElementById('change-logo').src = '/img/LOGOVGA.png';
      document.querySelector('.header-search .header-search__login .search-login').style.display = 'flex';
    } else {
      document.querySelector('.header-search').style.cssText = 'position: unset; box-shadow: unset;';
      document.querySelector('.header-search .input-search input').style.cssText = 'background-color: white;';
      document.querySelector('.container-jobs').style.cssText = 'margin-top: 0';
      if(document.querySelector('.header-search .input-search .categories-select') && document.querySelector('.header-search .input-search .categories-select__position')){
        document.querySelector('.header-search .input-search .categories-select').style.cssText = 'background-color: white;';
        document.querySelector('.header-search .input-search .categories-select__position').style.cssText = 'background-color: white;';
      }
      document.querySelector('.header-search .navbar-left .navbar-left__primary a.navbar-left-name').style.cssText = 'color: #0E0E23';
      document.querySelector('.header-search .navbar-left a.litle-text').style.cssText = 'color: #0072bc;';
      document.getElementById('change-logo').src = '/img/LOGOVGAJOB.png';
      document.querySelector('.header-search .header-search__login .search-login').style.display = 'none';
    }
  }
});
const jobToAds = document.querySelector('.hot-job__ads a.ads-now')
console.log(jobToAds)
  jobToAds.addEventListener('click',()=>{
    localStorage.setItem("guideADS", "true")
  })
  /*
  var closeBestFL = document.querySelector('.close-best-fl ');
  var boxBestCompanyFl = document.querySelector('.best-companyFL');
  var deleteMargin = document.querySelector('.container-jobs');
  var link = boxBestCompanyFl.getAttribute('data-href');
  var clickBTN = document.querySelector('.background-image');
  var applyBestFL = document.querySelector('.apply-bestfl');
  var infoBestFL = document.querySelector('.info-bestfl');
  
  infoBestFL.addEventListener('click',()=>{
    boxBestCompanyFl.href = `/company/${link}`;
  });
  applyBestFL.addEventListener('click',()=>{
    boxBestCompanyFl.href = `/company/${link}`;
  });
  clickBTN.addEventListener('click',()=>{
    boxBestCompanyFl.href = `/company/${link}`;
  });
  closeBestFL.addEventListener('click',()=>{
    boxBestCompanyFl.style.cssText = "opacity: 0";
    deleteMargin.style.margin = '0';
    setTimeout(function(){
      boxBestCompanyFl.style.display = 'none';
    },200)
  });*/

        localStorage.setItem('boxJobInfo', 'show');
        localStorage.setItem('boxCompanyInfo', 'hide');
        localStorage.setItem('boxJFTC', 'hide');
  const urlParams = new URLSearchParams(window.location.search);
  const pageFromURL = urlParams.get('page');
  const currentPage = pageFromURL || localStorage.getItem('currentPageJob');
  if (currentPage !== null) {
    getPagination.forEach(function(pageLink) {
      var page = pageLink.getAttribute('data-page');
      if (page == currentPage) {
        pageLink.classList.add('active');
      } else {
        pageLink.classList.remove('active');
      }
    });
  }
});
document.addEventListener('DOMContentLoaded', () => {
  var fileInput = document.getElementById('scancv');
  var form = document.querySelector('.header-search__scancv');
  fileInput.addEventListener('change', () => {
    var input = fileInput; 
    if (input.files.length > 0) {
      var fileName = input.value.split('\\').pop();
      document.querySelector('.file-name').innerHTML = fileName;
      var confirmed = document.querySelector('.alert-scancv');
      confirmed.style.cssText = 'transform: translateY(0)';
      acceptFile = document.querySelector('.submit-scancv');
      refuseFile = document.querySelector('.refuse-scancv');
      acceptFile.addEventListener('click', () => {
        form.submit();
      });
      refuseFile.addEventListener('click', () => {
        var stopScan = confirm('Do you want to stop scanning?');
        if (stopScan) {
          confirmed.style.cssText = 'transform: translateY(-500%)';
          setTimeout(function() {
            alert("Action not successful");
          }, 300);
        } else {

        }
      });
    }
  });
});
var containerJobs = document.querySelectorAll('.card-job');
containerJobs.forEach(function(cardJob){
  cardJob.style.cursor = 'pointer';
  var textTimeJob = cardJob.querySelector('.job-time');
  var time = textTimeJob.getAttribute('data-time');
  var checkTime = new Date(time);
  var currentDate = new Date();
  var difference = currentDate - checkTime;
  var days = difference / (24 * 60 * 60 * 1000);
  if (days < 1) {
      textTimeJob.innerHTML = '<i class="bi bi-stopwatch"></i> New';
  } else if (days < 2) {
      textTimeJob.innerHTML = '<i class="bi bi-stopwatch"></i> 1 day';
  }
   else {
      textTimeJob.innerHTML ='<i class="bi bi-stopwatch"></i> ' + Math.floor(days) + 'days';
  }

  var newText = cardJob.querySelector('.new-job');
  if (days < 8){
    newText.src = '/img/newjob.png';
  } else{
    newText.style.display = 'none';
  }
  var textHotJob = cardJob.querySelector('.check-hot');
  var checkHotJob = textHotJob.getAttribute('data-check-hot');
  if(checkHotJob === 'true'){
    textHotJob.innerHTML = '<i class="bi bi-fire"></i> Hot';
    textHotJob.style.display = 'block';
    cardJob.classList.add('active-hot');
  }
  else{
    textHotJob.style.display = 'none';
  }
  const getLinkCardjob = cardJob.getAttribute('data-href-cardjob');
  cardJob.addEventListener('click',()=>{
    window.location.href = `/job/${getLinkCardjob}`;
  })
});
</script>



