<div class="main-jobs">
    <div class="card-jobs">
        <p>{{count}}</p>
        {{#each job}}
        <div class="card-job">
            <p>{{this.jobname}}</p>
            <p>{{this.salary}}</p>
            <p>{{this.jobdesc}}</p>
        </div>
        {{/each}}
    </div>
    <form id="paginationForm" action="" data-id="{{total}}">
        <button type="button" class="number-pagination"></button>
    </form>
</div>
<script>
var paginationForm = document.getElementById('paginationForm');
var getPagination = paginationForm.getAttribute('data-id');
var currentPage = localStorage.getItem('currentPage') || 1; 

for (let i = 1; i <= (getPagination.length * getPagination); i++) {
  var newPage = document.createElement('input');
  newPage.setAttribute("type", "button");
  newPage.name = 'pagination';
  newPage.value = i;
  newPage.setAttribute("readonly", "readonly");
  if (i === parseInt(currentPage)) {
    newPage.classList.add('active'); 
  }
  document.querySelector('.number-pagination').appendChild(newPage);
}

var newPages = document.querySelectorAll('input[name="pagination"]');
newPages.forEach(function(newPage) {
  newPage.addEventListener('click', function() {
    if (!newPage.classList.contains('active')) {
      currentPage = parseInt(newPage.value);
      localStorage.setItem('currentPage', currentPage);
      paginationForm.submit();
    }
  });
});


</script>