<div class="container__job-saved">
    <div class="main__job-saved">
        <header>
            <h1>Archives your jobs</h1>
            <p>Everything you store or apply for a job is saved on this page.Take a look at the history of jobs you've saved. Apply immediately to avoid missing out on this employment opportunity.</p>
        </header>
        <section>
            <div class="header-section">
                <span class="saved-job">Saved Jobs</span>
                <span class="viewd-job">Recent Viewed Jobs</span>
                <span class="applied-job">Applied Jobs</span>
            </div>
            <div class="box__saved-job">
                <span class="list__job-saved">List: {{count}} Jobs Saved</span>
                {{#each listjob}}
                    <div class="card__job-saved">
                        <h1>{{this.jobname}}</h1>
                        <div class="job-saved__company">
                            <img src="/{{this.avatar}}" alt="">
                            <span>{{this.companyname}}</span>
                        </div>
                        <p class="job-saved__salary"><i class="bi bi-currency-dollar"></i> {{this.salary}}</p>
                        <p class="job-saved__location"><i class="bi bi-geo-alt"></i> {{this.joblocation}}</p>
                        <div class="action__job-saved">
                            <a href="/job/{{this._id}}">Apply Now</a>
                            <form class="function__check-save" action="" method="POST">
                                <button title="Save Job" class="check-save__job" type="submit" data-check-save="{{checkSave checksave}}"><i class="bi bi-heart"></i></button>
                            </form>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>
<script>
</script>