<div class="container__job-detail">
    <header class="jobdetail">
        <img src="{{getAvatarcompany company}}" alt="" onerror="this.src='/img/notfoundavatar.jpeg'">
        <div class="center-jobdetail">
            <span class="primary-text">{{detail.jobname}}</span>
            <span class="secondary-text">{{getCompanyname company}} {{getTOB company}}</span>
            <span class="third-text"><i class="bi bi-geo-alt"></i> {{detail.joblocation}}</span>
            <span class="forth-text"><i class="bi bi-currency-dollar"></i>{{detail.salary}}</span>
        </div>
        <div class="jobdetail-action">
            {{#if user}}
            {{#ifeq user 'company'}}
            {{else}}
            <button class="btn-apply" type="button" >Apply Now</button>
            <form class="function__check-save" action="/job/favourite?id={{detail._id}}" method="POST">
                <button title="Save Job" class="check-save__job" type="submit" data-check-save="{{checkSave checksave}}"><i class="bi bi-heart"></i></button>
            </form>
            <a class="create-cv__job" href="/cv/createcv"><span class="material-symbols-outlined">clinical_notes</span> Create CV To Apply</a>
            {{/ifeq}}
            {{else}}
            <a class="btn-apply__notuser" href="/login">Apply Now</a>
            {{/if}}
        </div>
    </header>
    <div class="body-jobdetail">
        <div class="main-jobdetail">
            <span class="jobinfo">JOB INFO</span>
            <span class="companyinfo">COMPANY INFO</span>
            <span class="jobsfromthiscompany">JOBS FROM THIS COMPANY</span>
        </div>
            <div class="main-jobinfo">
                <div class="desc-jobinfo">
                    <p class="jobinfo-main-text">Job Description</p>
                    <p>{{detail.jobdesc}}</p>
                    <p class="jobinfo-main-salary"><b>Salary Offer:</b> <i class="bi bi-currency-dollar"></i>{{detail.salary}}</p>
                </div>
                <div class="requirements-jobinfo">
                    <p class="jobinfo-main-text">Job Requirements</p>
                    <p>{{detail.jobrequi}}</p>
                </div>
                <div class="benefit-jobinfo">
                    <p class="jobinfo-main-text">Benefit</p>
                    {{#if detail.benefit}}
                    <p>{{detail.benefit}}</p>
                    {{else}}
                    <p>Contact the company for more details</p>
                    {{/if}}
                </div>
                <div class="location-jobinfo">
                    <p class="jobinfo-main-text">Location</p>
                    <span><i class="bi bi-geo-alt-fill"></i> {{detail.joblocation}}</span>
                </div>
            </div>
            <div class="main-companyinfo">
                <div class="company-detail">
                    <p><a href="/company/{{getCompanyID company}}">View Full Company Profile <span class="material-symbols-outlined">bubble</span></a></p>
                    <p class="jobinfo-main-text">Company Detail</p>
                    <span><b>Company Name:</b> {{getCompanyname company}} {{getTOB company}}</span>
                    <span><b>Industry:</b> {{getCompanyfield company}}</span>
                    <span><b>Address:</b> {{getCompanyaddress company}}</span>
                    <span><b>Hotline:</b> {{getCompanyphone company}}</span>
                    <span><b>Established Date:</b> {{getEstablisheddate company}} - {{getCompanyyears company}} </span>
                </div>
                <div class="desc-jobinfo">
                    <p class="jobinfo-main-text">Company Description</p>
                    <p>{{getCompanydesc company}}</p>
                </div>
            </div>
            <div class="main-jobsfromthiscompany">
                <ul>
                    {{#each job}}
                    <li class="content-listjob">
                        <a href="/job/{{this._id}}" class="jftc-namejobs">{{this.jobname}}</a>
                        <div class="secondary-listjob">
                            <span class="locationjobs">
                                <span class="jftc-salary"><i class="bi bi-currency-dollar"></i>{{this.salary}}</span> <span class="jftc-location"><i class="bi bi-geo-alt-fill"></i> {{this.joblocation}}</span>
                            </span>
                        </div> 
                    </li>
                    {{/each}}
                </ul>
                <div class="pagination" data-id-pagination="{{idjob}}">
                    {{#each pages}}
                    <a data-page="{{this}}">{{this}}</a>
                    {{/each}}
                </div>
            </div>
    </div>
    {{#if user}}
    <div class="overplay-jobdetail">
    </div>
    <form class="box-apply-job" action="/scan/apply?id={{detail._id}}" method="POST" enctype="multipart/form-data">
            <header>
                <div class="apply-job__detail-info">
                    <img src="{{getAvatarcompany company}}" alt="">
                    <div class="primary-info">
                        <span class="jobname__apply-job">{{detail.jobname}}</span>
                        <span class="salary__apply-job"><i class="bi bi-currency-dollar"></i>{{detail.salary}}</span>
                        <span class="space">|</span>
                        <span class="location__apply-job"><i class="bi bi-geo-alt"></i> {{detail.joblocation}}</span>
                    </div>
                </div>
                <p>Employers prefer to receive your resume in  <b>English</b> language.</p>
            </header>
            <div class="nav-apply-job">
                <img src="{{getAvatar user}}" alt="">
                <div class="apply-job-info">
                    <span class="not-allowed">{{getFullname user}}</span>
                    <input type="text" name="professional" id="professional" placeholder="Professional headline. Ex: Project manager" required>
                </div>
            </div>
            <div class="body-apply-job">
                <div class="main-apply-job">
                    <label for="email-apply">Email</label>
                    <input class="not-allowed" type="text" name="email" id="email-apply" value="{{getEmail user}}" readonly>
                </div>
                <div class="main-apply-job">
                    <label for="phone">Phone number</label>
                    <input type="text" name="phoneApply" value="{{getPhone user}}" id="phone" required>
                </div>
                <div class="main-apply-job file-cv">
                    <label for="cv">Resume</label>
                    <label for="cv" class="resume">
                        <span>Upload new CV <i class="bi bi-cloud-plus"></i></span>
                        <span class="show-file">.doc, .docx and .pdf files that are less than 5120KB in size</span>
                    </label>
                    <input type="file" name="cv" id="cv" accept=".doc, .docx, .pdf" required>
                </div>
            </div>
            <div class="apply-job-action">
                <button class="cancle-apply" type="button">Cancel</button>
                <button class="submit-apply" type="submit">Apply CV</button>
            </div>
        </form>
        {{/if}}
</div>
<script>
    var clickShowJobInfo = document.querySelector('.jobinfo');
    var showJobInfo = document.querySelector('.main-jobinfo');
    clickShowJobInfo.addEventListener('click',()=>{
        showJobInfo.style.cssText = "display: flex;"
        clickShowJobInfo.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
        showcompanyInfo.style.cssText = "display: none;"
        clickShowcompanyInfo.style.cssText = " font-weight:400; border-bottom: unset;"
        showjobsfromthiscompany.style.cssText = "display: none;"
        clickShowjobsfromthiscompany.style.cssText = " font-weight:400; border-bottom: unset;"
        localStorage.setItem('boxJobInfo', 'show');
        localStorage.setItem('boxCompanyInfo', 'hide');
        localStorage.setItem('boxJFTC', 'hide');
    });
    var clickShowcompanyInfo = document.querySelector('.companyinfo');
    var showcompanyInfo = document.querySelector('.main-companyinfo');
    clickShowcompanyInfo.addEventListener('click',()=>{
        showcompanyInfo.style.cssText = "display: flex;"
        clickShowcompanyInfo.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
        showJobInfo.style.cssText = "display: none;"
        clickShowJobInfo.style.cssText = " font-weight:400; border-bottom: unset;"
        showjobsfromthiscompany.style.cssText = "display: none;"
        clickShowjobsfromthiscompany.style.cssText = " font-weight:400; border-bottom: unset;"
        localStorage.setItem('boxCompanyInfo', 'show');
        localStorage.setItem('boxJFTC', 'hide');
        localStorage.setItem('boxJobInfo', 'hide');
    });
    var clickShowjobsfromthiscompany = document.querySelector('.jobsfromthiscompany');
    var showjobsfromthiscompany = document.querySelector('.main-jobsfromthiscompany');
    clickShowjobsfromthiscompany.addEventListener('click',()=>{
        showjobsfromthiscompany.style.cssText = "display: flex;"
        clickShowjobsfromthiscompany.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
        showJobInfo.style.cssText = "display: none;"
        clickShowJobInfo.style.cssText = " font-weight:400; border-bottom: unset;"
        showcompanyInfo.style.cssText = "display: none;"
        clickShowcompanyInfo.style.cssText = " font-weight:400; border-bottom: unset;"
        localStorage.setItem('boxJFTC', 'show');
        localStorage.setItem('boxJobInfo', 'hide');
        localStorage.setItem('boxCompanyInfo', 'hide');
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        var inputFile = document.getElementById('cv');
        var showFileSpan = document.querySelector('.show-file');

        inputFile.addEventListener('change', function() {
            if (this.files && this.files.length > 0) {
                showFileSpan.innerHTML = this.files[0].name;
                showFileSpan.style.cssText = 'color: #D3D3D3';
                var allowedExtensions = /(\.doc|\.docx|\.pdf)$/i;
                   var selectedFile = this.files[0];
                   if (!allowedExtensions.test(selectedFile.name)) {
                        showFileSpan.innerHTML = '<span class="material-symbols-outlined">error</span>' + selectedFile.name;
                        showFileSpan.style.cssText = 'color: #FC0404; display: flex; align-item: center';
                    }
            } else {
                showFileSpan.innerHTML = ".doc, .docx and .pdf files that are less than 5120KB in size";
            }
        });
        var submitApplyCV = document.querySelector('.submit-apply');
        submitApplyCV.addEventListener('click',(e)=>{
            if (inputFile.files && inputFile.files.length > 0) {
                   var allowedExtensions = /(\.doc|\.docx|\.pdf)$/i;
                   var selectedFile = inputFile.files[0];
                   if (!allowedExtensions.test(selectedFile.name)) {
                        e.preventDefault();
                        alert('Please upload only doc, docx, or pdf files.');
                    }
                }
            else{
                 e.preventDefault();
                alert('Please upload your CV to apply for this job')
            }
        })
        var showBoxJobInfo = localStorage.getItem('boxJobInfo');
        var showBoxCompanyInfo = localStorage.getItem('boxCompanyInfo');
        var showBoxJFTC = localStorage.getItem('boxJFTC');
        if(showBoxJobInfo === 'show'){
            showJobInfo.style.cssText = "display: flex;"
            clickShowJobInfo.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
            showcompanyInfo.style.cssText = "display: none;"
            clickShowcompanyInfo.style.cssText = " font-weight:400; border-bottom: unset;"
            showjobsfromthiscompany.style.cssText = "display: none;"
            clickShowjobsfromthiscompany.style.cssText = " font-weight:400; border-bottom: unset;"
        }else if(showBoxCompanyInfo === 'show'){
            showcompanyInfo.style.cssText = "display: flex;"
            clickShowcompanyInfo.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
            showJobInfo.style.cssText = "display: none;"
            clickShowJobInfo.style.cssText = " font-weight:400; border-bottom: unset;"
            showjobsfromthiscompany.style.cssText = "display: none;"
            clickShowjobsfromthiscompany.style.cssText = " font-weight:400; border-bottom: unset;"
        }else if(showBoxJFTC === 'show'){
            showjobsfromthiscompany.style.cssText = "display: flex;"
            clickShowjobsfromthiscompany.style.cssText = "font-weight:600; border-bottom: 3px solid #0095ff;"
            showJobInfo.style.cssText = "display: none;"
            clickShowJobInfo.style.cssText = " font-weight:400; border-bottom: unset;"
            showcompanyInfo.style.cssText = "display: none;"
            clickShowcompanyInfo.style.cssText = " font-weight:400; border-bottom: unset;"
        }
        const urlParams = new URLSearchParams(window.location.search);
    const pageFromURL = urlParams.get('page');
    const currentPage = pageFromURL || localStorage.getItem('currentPageJobDetail');
    if (currentPage !== null) {
        getPagination.forEach(function(pageLink) {
        var page = pageLink.getAttribute('data-page');
        if (page == currentPage) {
            pageLink.classList.add('active');
        } else {
            pageLink.classList.remove('active');
        }
        });
    }
    var clickShowApply = document.querySelector('.btn-apply');
    var showApply = document.querySelector('.overplay-jobdetail');
    var cancleApply = document.querySelector('.cancle-apply');
    var boxApply = document.querySelector('.box-apply-job');
    var body = document.querySelector('body');
    clickShowApply.addEventListener('click',()=>{
        showApply.style.cssText = "display:flex;"
        boxApply.style.cssText = "transform: translateY(10%);"
        if(window.innerWidth > 602 && window.innerWidth <= 1024){
            boxApply.style.cssText = "transform: translateY(20%);"
        }
        if(window.innerWidth <= 601){
            boxApply.style.cssText = "transform: translateY(22%);"
        }
        body.classList.add('modal-open');
    });
    showApply.addEventListener('click',()=>{
        showApply.style.cssText = "display:none;"
        boxApply.style.cssText = "transform: translateY(-200%);"
        body.classList.remove('modal-open');
    });
    cancleApply.addEventListener('click',()=>{
        showApply.style.cssText = "display:none;"
        boxApply.style.cssText = "transform: translateY(-200%);"
        body.classList.remove('modal-open');
    });
    var buttonSave = document.querySelector('.check-save__job');
    var checkSave = buttonSave.getAttribute('data-check-save');
    if(checkSave == 'true'){
        buttonSave.innerHTML = '<i class="bi bi-heart-fill"></i>';
        buttonSave.classList.add('saved');
        buttonSave.title = 'Unsave';
    }
    else{
        buttonSave.innerHTML = '<i class="bi bi-heart"></i>';
        buttonSave.classList.remove('saved');
        buttonSave.title = 'Save Job';
    };
    });
    var changeJobDetail = document.querySelectorAll('.main-jobsfromthiscompany .content-listjob')
    changeJobDetail.forEach(function(change){
        change.addEventListener('click',()=>{
            localStorage.setItem('boxJobInfo', 'show');
            localStorage.setItem('boxCompanyInfo', 'hide');
            localStorage.setItem('boxJFTC', 'hide');
        })
    });
    var getPagination = document.querySelectorAll('.pagination a');
    var paginationContainer = document.querySelector('.pagination');
    var getIDPagination = paginationContainer.getAttribute('data-id-pagination');
    if (getPagination.length > 1) {
    paginationContainer.style.display = 'flex';
    } else {
    paginationContainer.style.display = 'none';
    }
    getPagination.forEach(function(pageLink) {
    var page = pageLink.getAttribute('data-page');
    pageLink.href = `/job/${getIDPagination}?page=${page}`;
    pageLink.addEventListener('click', function(event) {
        if (pageLink.classList.contains('active')) {
        event.preventDefault();
        } else {
        localStorage.setItem('currentPageJobDetail', page);
        }
    });
    });
</script>
