<div class="main-profile">
   {{#if user}}
    <div class="header-profile">
        <span class="header-profile-primary">Hello {{getFullname user}}</span>
        <span class="header-profile-secondary">This page is your profile. Clicking the settings button allows you to edit the information</span>
    </div>
    <form class="content-profile" method="POST" action="/profile/edit?_method=PUT" enctype="multipart/form-data">
        <div class="profile-img">
            <label for="file-user"><img class="user-avatar" src="{{getAvatar user}}" alt=""></label>
            <input id="file-user" name="avatar" type="file" accept="image/*">
            <label for="file-user"><div class="edit-img"><span>Change Avatar</span></div></label>
        </div>
        <div class="content-profile-header">
            <span>Your Account</span>
        </div>
        <div class="content-profile-main" >
            <span>USER INFORMATION</span>
            <div class="profile-info-user">
                <div class="profile-user">
                    <label for="username-profile">User Name</label>
                    <input id="username-profile" type="text" value="{{getName user}}" readonly>
                </div>
                 <div class="profile-user">
                    <label for="email-profile">Email Address</label>
                    <input id="email-profile" type="email" value="{{getEmail user}}" readonly>
                </div>
                <div class="profile-user">
                    <label for="fullname">Full Name</label>
                    <input id="fullname" name="fullname" type="text" value="{{getFullname user}}">
                </div>
                <div class="profile-user">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password">
                </div>
            </div>
            <div class="underline-profile">
                <div class="underline"></div>
            </div>
            <span>CONTACT INFORMATION</span>
            <div class="contact-profile">
                <div class="contact-user-address">
                    <label for="address">Address</label>
                    <input id="address" type="text" name="address" placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" value="{{getAddress user}}">
                </div>
                <div class="contact-user">
                    <label for="city">City</label>
                    <input id="city" type="text" name="city" placeholder="New York" value="{{getCity user}}">
                </div>
                <div class="contact-user">
                    <label for="country">Country</label>
                    <input id="country" type="text" name="country" placeholder="United States" value="{{getCountry user}}">
                </div>
                <div class="contact-user">
                    <label for="postal">Postal</label>
                    <input id="postal" type="text" name="postal" placeholder="10001" value="{{getPostal user}}">
                </div>
            </div>
            <div class="underline-profile">
                <div class="underline"></div>
            </div>
                <span>ABOUT YOU</span>
            <div class="about-me-profile">
                <div class="about-user experience">
                    <label for="experience">Experience</label>
                    <input id="experience" type="text" name="experience" placeholder="4 years working at company A" value="{{getExperience user}}">
                </div>
                <div class="about-user">
                    <label for="education">Education</label>
                    <input id="education" type="text" name="education" placeholder="Greenwich University" value="{{getEducation user}}">
                </div>
                <div class="about-user skills-profile">
                    <label for="skills">Skills</label>
                    <input id="skills" type="text" name="skills" placeholder="HTML,CSS,JS,NodeJS,ReactJS" value="{{getSkills user}}">
                </div>
                <div class="about-user">
                    <label for="certifications">Certifications</label>
                    <input id="certifications" type="text" name="certifications" placeholder="Master's degree" value="{{getCertifications user}}">
                </div>
                <div class="about-user languages-profile">
                    <label for="languages">Languages</label>
                    <input id="languages" type="text" name="languages" placeholder="English, France, Japanese" value="{{getLanguages user}}">
                </div>
            </div>
            <div class="profile-action">
                <button class="btn-save" type="submit">Save Profile</button>
            </div>
        </div>
    </form>
    {{/if}}
</div>
<script>
    var hover = document.querySelector('.profile-img img')
    var edit = document.querySelector('.edit-img')
    hover.addEventListener('mouseover',()=>{
        edit.style.cssText = "display: flex; transform: translateY(-28%);"
        hover.style.cssText = "transform: translatey(-28%);"
    })
    edit.addEventListener('mouseout',()=>{
        edit.style.cssText = "display: none; transform: translateY(-24%);"
        hover.style.cssText = "transform: translatey(-24%);"
    })
    var file = document.querySelector('#file-user');
    var img = document.querySelector('.user-avatar');
    file.addEventListener('change', () => {
        const chooseFile = file.files[0];
        if (chooseFile) {
            const reader = new FileReader();
            reader.addEventListener('load', () => {
                img.setAttribute('src', reader.result);
            });
            reader.readAsDataURL(chooseFile);
        }
    });
</script>
